[2013-09-25 20:34] matthewp opened #2 "Port css compilation for pluginify from steal-build"
The [steal-build](https://github.com/bitovi/steal-build/tree/edge) project's edge branch has support for css compilation.

[2013-09-25 20:49] matthewp opened #3 "Pluginify should use same path to "open" steals"
Currently pluginify uses a static analyzer to determine dependencies rather than using `steal/build/open` which calls the code. There should really only be 1 code path.

[2013-09-25 20:50] matthewp opened #4 "Port pluginify tests from steal-build"
Steal-build's edge branch has tests that would be useful in this project.

[2013-12-01 23:46] #3 closed, assigned to nobody

[2013-12-11 18:22] zkat opened #7 "Support building apps from `.html` file"
If I target the page's `.html` file with steal-tools when I build, it fails silently. Rhino steal usually targets the webpage itself, since it scans it for `<link>` and `<style>` tags that will be included in the final `production.css` file.
### Steps
1. Install `steal-tools`
2. Set up an `.html` page that refers to `steal/steal.js?some-app`
3. Create a valid `some-app.js` file
4. Add a `<link>` a

[2013-12-11 18:26] zkat opened #8 "Build failure if builder runs into `can.view` on an html element"
Rhino steal is able to support stuff like `can.view("#some-id")`, but steal-tools crashes
### Steps
1. Set up an app file with `can.view("#body-template")` in the `steal` callback.
2. Run `steal build app.js`
3. Try again using rhinosteal instead
### Results

`ERROR CALLING src/app.js : can.view: No template or empty template:body-template.mustache`
### Expected

I'm not sure exactly what Rhinoste

[2013-12-11 19:06] #2 closed, assigned to nobody

[2013-12-27 19:30] matthewp opened #10 "Update Readme with development instructions"
Needs gcc, node > 0.10

[2014-05-27 15:55] justinbmeyer opened #11 "Prevent Minification"
Support a `{minify: false}` option.

[2014-05-27 15:57] justinbmeyer opened #12 "Specify bundles locations"
Allow someone to specify an alternative folder where the bundles should be:

`{bundlesDir: __dirname+"/to/here/"}`

[2014-05-27 20:06] #10 closed, assigned to matthewp

[2014-05-27 20:07] #7 closed, assigned to nobody

[2014-05-27 20:55] matthewp opened #13 "CI integration"
Travis is failing because it is running `grunt test` which is not used any more. Since Mocha is a dev-dependency we can make `npm test` trigger `mocha test/test.js` and everything should be good.

[2014-05-27 21:20] justinbmeyer opened #14 "bundle: false"
We should be able to tell a module that it should not be packaged in production.  We should explore how requirejs does this. If requirejs doesn't have an API for it, I suggest putting it on meta:

System.meta.html5Shiv = {bundle: false};

[2014-05-27 21:33] #4 closed, assigned to nobody

[2014-05-28 13:40] #13 closed, assigned to matthewp

[2014-05-28 17:26] matthewp opened #15 "Standardize API for build/pluginify"
The first argument to build/pluginify should both be the system config. For build, provide a second argument of `options`, for pluginify the `options` are provided after the Promise is fulfilled by calling the returned `pluginify` function.

[2014-05-28 18:12] justinbmeyer opened #16 "Debug messages"
By default, steal-tools should be log messages to let you know what it's doing.  There should be a `{silent: true}` options that turns them off.

[2014-05-28 21:43] #15 closed, assigned to matthewp

[2014-05-28 21:43] #11 closed, assigned to nobody

[2014-05-29 15:50] justinbmeyer opened #18 "Build API"
Here's some build API proposals:
# JAVASCRIPT API
## @function StealTools.build

@signature `StealTools.build( buildConfig, buildOptions )`

@param {buildConfig} buildConfig SystemJS configuration options.  `config` and `main` must be passed.

@return {Promise<buildData>} A deferred with build data.
### Use

[code]
## @typedef {} buildConfig

@option {String} config The path to stealconfig.js.  Th

[2014-05-29 17:04] justinbmeyer opened #19 "packagedSteal buildOption"
Include steal in output JS.

[2014-05-29 17:07] justinbmeyer opened #20 "UglifyOptions / LessOptions"
@option {Object} [uglifyOptions]
@option {Object} [lessOptions]

[2014-05-29 18:56] #12 closed, assigned to matthewp

[2014-05-30 13:52] daffl opened #22 "Error handling and messages"
Error handling seems a little off still at the moment. For example, if you run a build with the command line tool and it fails, you get several error messages and a warning and it says "Build completed sucessfully".

The promises should be able to bubble errors all the way to the top where the end user (programatically, command line, Grunt) can handle it. We should add tests for common error cases

[2014-05-30 13:53] daffl opened #23 "Set up JSHint and release"
JSHint should be part of the Travis test script. Also need to set up a release process to get things published on NPM and Bower.

[2014-06-04 18:46] marshallswain opened #28 "UX: Shouldn't be forced to leave off .js extension."
I've been getting the following error when building:

[code]

This only happens when instead of putting the module name I put the filename.  I think it's supposed to work this way, so it doesn't technically qualify as a bug, but I can't think of any reason it HAS to be this way. It seems to me like we should be able to make steal recognize if a .js extension is already present, and therefore not a

[2014-06-04 21:12] #28 closed, assigned to nobody

[2014-07-01 13:02] matthewp opened #30 "Pluginify doesn't work with relative path dependencies"
In foo.js

[code]

Compiles to:

[code]

Should update foo's dependencies I believe. Breaking test to come.

[2014-07-17 18:00] retro opened #33 "LESS is missing from the dependencies list"
It's listed in the `devDependencies` object in the package.json file.

[2014-07-17 18:00] #33 closed, assigned to nobody

[2014-07-21 13:54] matthewp opened #35 "Pluginify doesn't work with CommonJS transpiled modules"
CommonJS modules are transpiled by transpile using the define wrapper, but the pluginify shim doesn't know about this style of define.

It's pretty easy to patch this, just check that there are no dependencies in the dependencies array and that the callback has a length (at least 1 argument, as many as 3).

I'll send a fix with test.

[2014-07-21 13:56] matthewp opened #36 "Pluginify doesn't know about mappings"
It's possible for a module to be mapped (as is done in CanJS for can/util) to another module.  Because pluginify's shim doesn't know about mappings it will fail to provide a module's dependencies that is relying on the mapping.

I have an idea of what might need to be done to fix this but want to talk about it.

Possibly the same fix as this will fix #30

[2014-07-21 23:01] #23 closed, assigned to nobody

[2014-07-21 23:02] #18 closed, assigned to nobody

[2014-07-21 23:02] #16 closed, assigned to nobody

[2014-07-21 23:02] #19 closed, assigned to nobody

[2014-07-21 23:17] justinbmeyer opened #37 "Source Maps Support"
Make it possible to include source maps:

https://github.com/bitovi/steal/issues/103

[2014-07-22 02:45] #8 closed, assigned to nobody

[2014-07-25 21:03] matthewp opened #41 "Consider renaming exports option for pluginify"
Pluginify has an option called `exports` that you use like this:

[code]

jQuery being any object on the window.  Exports is an inappropriate name here. Perhaps `imports`?

Also we might want to have an actual `exports` option where you export your module's definitions onto the window.

[2014-07-25 21:07] #36 closed, assigned to nobody

[2014-07-25 21:08] #35 closed, assigned to nobody

[2014-07-26 00:20] matthewp opened #42 "Pluginify includes plugins with build"
Unlike the multi build, pluginify doesn't remove plugins not marked as `includeInBuild` so you get things like this in the build:

[code]

This causes errors when you run the built file.

[2014-07-26 00:23] matthewp opened #43 "Need a way to get css build with pluginify"
Since pluginify provides a small shim it is an ideal way to build small apps. However currently pluginify only works with js, if you have css in the file you'll get this in the build:

[code]

Perhaps the `pluginify` function should have an option to get the css back instead of the js?  Or perhaps an option to get both?

[2014-08-04 13:54] asavoy opened #47 "Generated file names for bundles can exceed file system limit"
I tried updating a large project to test the latest Steal and discovered the build won't complete because the filename generated for a widely shared bundle is too long for the file system.

This is the same issue that I proposed a pull-request on in legacy StealJS in https://github.com/bitovi/steal/pull/170 - NOTE: GitHub seems to have mangled that page with history from a separate issue. The rele

[2014-08-05 21:01] stevenvachon opened #51 "Minify templates"
~~Since we cannot precompile templates with `can.stache` as we can with `can.mustache`, how about minifying the templates as part of steal-tools?~~

https://github.com/kangax/html-minifier

[2014-08-06 01:22] asavoy opened #52 "Names generated for main bundles may override one another"
When building an app with several main modules, the main module's filename is used as the name for its bundle filename. Since all bundles are put into one folder, it's possible for one to override another.

Take a hypothetical app that builds two main modules, `users/edit/edit` and `tasks/edit/edit`:

1. `tasks/edit/edit.js` is built into bundle `dist/bundles/edit.js`
2. `users/edit/edit.js` is bu

[2014-08-15 16:01] matthewp opened #55 "Pluginifying to global includes System.set calls"
When attempting to pluginify (to a "global") a file that uses the system Stache plugin I am seeing this in the output:

[code]

Which throws an error because we do not shim these 2 functions.  I think we can safely exclude these from the build, right?

[2014-08-15 16:42] #55 closed, assigned to nobody

[2014-08-18 14:35] wclr opened #56 "Output file sizes while build"
It would be convenient to have sizes of all file included in the build outputted while build process and maybe compress ratio. And also sizes of result bundles.

[2014-08-19 15:41] wclr opened #57 ""Build was successful." even if there was an error"
Build outputs confusing message "Build was successful." even if there was an error during the process and no result produced.

[2014-08-19 17:23] wclr opened #58 "[ReferenceError: document is not defined]"
Can not build module that has reference to `document` inside its executable code.

the same issue with `window`

[2014-08-19 21:04] wclr opened #59 "can-click events don't work in built application"
In my application after build can-click handlers don't work anymore. (click events in `events` work though)

Do you have any suggestions what can be the reason for such behaviour?

[2014-08-20 06:44] asavoy opened #60 "Support cleanOptions for CleanCSS"
I need to be able to configure the CSS minification step, or disable it entirely.

With the current defaults, it performs merging of properties, which is often undesirable. Example here is a common pattern for high DPI images:

[code]

After running a build, becomes:

[code]

[2014-08-23 11:31] whitecolor opened #61 "Backslash path in on windows"
On windows in build bundle module we have ```dist\bundles```:

[code]
to be more correct and consistent there should be slash ```dist/bundles```

[2014-08-28 15:15] wclr opened #65 "Jquery is not minimized while build"
I have defenition in path:

[code]

after build my bundle js is is 394K

So I replace it with

[code]

after build my js is 225K is

it correct behaviour?

There is also a problem with minified file in production: some times app in production tries to load `jquery.min.map`

[code]

[2014-08-28 16:14] #59 closed, assigned to nobody

[2014-08-28 16:16] #58 closed, assigned to nobody

[2014-08-29 02:58] #22 closed, assigned to nobody

[2014-08-29 22:44] #42 closed, assigned to nobody

[2014-09-01 11:50] #57 closed, assigned to nobody

[2014-09-01 14:26] matthewp opened #67 "Multi-build not removing development code"
It looks like `clean` is only being used by pluginify and not the multi-build. Will submit a fix for this.

[2014-09-02 16:21] #65 closed, assigned to nobody

[2014-09-02 16:30] matthewp opened #69 "mistake"
whoops, wrong project

[2014-09-02 16:30] #69 closed, assigned to matthewp

[2014-09-04 01:34] #67 closed, assigned to matthewp

[2014-09-04 01:35] #30 closed, assigned to nobody

[2014-09-04 03:33] matthewp opened #70 "Support UMD export"
This would be nice. Currently pluginify has a `global` format that is useful for people not using a module loader at all.  A `umd` format would just be the UMD shim wrapped around `global`'s output.

[2014-09-06 00:02] stevenvachon opened #71 "Error when running built app"
My app works fine in dev, but after running a production build, I get this error when attempting to initialize:

[code]

This is lines 3–5 in init.js:

[code]

and here're lines 1–2 of the same file:

[code]

[2014-09-07 00:30] #71 closed, assigned to nobody

[2014-09-09 20:31] matthewp opened #73 "Remove define from window before evaling System.defines"
This is for the pluginify shim. The same thing we do for regular `define`s we should do for `System.define`.

[2014-09-11 00:35] matthewp opened #75 "Investigate if we can exclude the traceur runtime"
This is dependent on https://github.com/bitovi/steal/issues/227 being complete, but writing this down so it doesn't get forgotten.

The newer versions of Traceur no longer compile import statements with the `assertObject` runtime call that they previous did. This means we might be able to exclude the runtime for code that doesn't need it. Need to:
- [ ] Investigate what code causes runtime to be n

[2014-09-12 16:55] justinbmeyer opened #77 "Support running multiple builds at the same time."
You can't currently call two builds one after another.  I'm pretty sure this has to do with what System / steal is global.  Hopefully this is something wrong in our code and not SystemJS.

I'll submit a test shortly.

[2014-09-13 03:45] stevenvachon opened #78 "Allow main to be defined in config"
In dev mode, I have:
[code]
and
[code]
and it works.

But when I try to build with:
[code]
I get this error:
[code]
I don't know exactly why jQuery was involved in this, but I do know that it should read "OPENING: main". Somewhere in the code, `config.main` (pseudo) is not checked for.

[2014-09-17 23:31] matthewp opened #80 "Watch mode"
It would be nice if we could produce a "watch mode". This would be part of the build and pluginify. It would watch for changes in the files in your graph and reload just those files (and their dependencies). It would be a very fast build.

Along with this we should also support `node_modules` just for watch mode (not in the browser). This would be very simple to implement, it would just be a `fetc

[2014-09-19 23:29] justinbmeyer opened #81 "Support UMDish AMD files"
A file like:

[code]

will break building.  We need another form of AMD that doesn't need to run (similar to CJS) to get all the dependencies.

[2014-09-22 18:27] justinbmeyer opened #82 "document pluginify grunt task"
http://stealjs.com/docs/stealTools.grunt.pluginify.html

:-(

[2014-09-23 23:20] wclr opened #83 "Build is not working with stache and can#minor"
I'm using stache templates in my app (and canjs#minor) and when I'm trying to build the app I've got an error:

[code]

Currently as workaround around I replace `stache` with `mustache` engine in `stealconfig.js`:

[code]

[2014-09-26 16:07] DVSoftware opened #85 "CommonJS module/exports behaves differently when built"
Let's say i have main.js that looks like this

[code]

and conf.js

[code]

When the application is not built, it logs

[code]

but once built, it logs

[code]

[2014-10-01 00:31] matthewp opened #88 "Consider minifying CSS before writing the bundles"
Currently we minify each css node individually. This means if there are duplicate selectors they will both make it to the final output.  We could minify again (or possibly only minify) the css prior to writing out the bundles.

[2014-10-01 13:17] whitecolor opened #89 "stealBuild option system.main issue"
In dev mode main (via script tag attribute) can be defined as for example ```apps/first/``` that will load ```apps/first/first.js```.

In stealBuild options if system.main is defined as ```apps/first/``` will result in build error, so one need to define it there as ```apps/first/first```.

A little bit inconsistent in my view. Not sure if its needed and correct behaviour.

[2014-10-02 01:01] m-mujica opened #90 "Contributing guide link is broken."

[2014-10-02 01:20] #90 closed, assigned to nobody

[2014-10-02 23:43] dispatchrabbi opened #92 "When steal is bundled with an app, the CSS is loaded from the wrong path"
With this HTML in /dist/bundles/index.html:

[code]

When I load /dist/bundles/index.html after building my app with `bundleSteal: true` in the Grunt task `buildOptions` config, this is what I see:
![screen shot 2014-10-02 at 4 37 13 pm](https://cloud.githubusercontent.com/assets/2257804/4500199/52f973be-4a8d-11e4-8531-234f5e5aece2.png)

It looks like the bundled version of steal isn't expecting t

[2014-10-03 21:19] wclr opened #93 "Multi-app build"
Steal need to be able to build shared packages for several applications like in old steal:
`app1`, `app2`: `app1.js, app2.js, app1-app2.js`

[2014-10-03 21:58] wclr opened #94 "Loading css before js in production"
For correct behaviour it is absolutely needed that css be completely loaded and put on the page before JS (if it not done this way it may result in not just flaw visual experience but event in breaking some kind of the apps dependent on css styles).

`System.instantiated` for `css` trick would not work for progressively loaded apps as it will for single module app.

So how this can be achieved in

[2014-10-03 22:02] #94 closed, assigned to nobody

[2014-10-04 17:15] #83 closed, assigned to nobody

[2014-10-04 21:45] #85 closed, assigned to nobody

[2014-10-05 11:49] wclr opened #95 "traceur is looked up in wrong location on Windows"
Not sure, I think I've seen this issue but could not find it.

While building ES6 modules on WINDOWS steal-tools are trying to find `traceur` in ROOT folder not `node_modules` folder.

[code]

The workaround it to place traceur in root folder.

[2014-10-06 15:16] #95 closed, assigned to nobody

[2014-10-06 18:04] wclr opened #99 "traceur runtime is included if there are LESS dependencies (no ES6)"
traceur-runtime is included in build when there is LESS files that should be build, not no any ES6 modules. (so if remove less dependencies it builds without) traceur-runtime.

I checked that it can be safely removed from built JS and application will work without it.

[2014-10-07 01:52] whitecolor opened #100 "TypeError: "$css" already loading"
[code]

Happens if application has ```*.less``` and ```*.css``` dependencies

Exact configuration that causes it is not clear.

Full output:
[code]

[2014-10-12 23:55] wclr opened #102 "Add after hook for grunt build task"
I would propose to add `after`hook in which we would pass grunt task `options` and `bundles` result of build process. People could use it do something like cache busting more easily . It is very simple code change. What do you think about it?

[2014-10-15 14:39] alexkrautmann opened #105 "stealBuild cannot find traceur runtime"
I get the following when I try to stealBuild:

[code]

I reverted the change that @whitecolor had mentioned in #95 and changed in commit 0d597a6

[code]

to

[code]

And everything seems to work fine now.  If it matters at all, I am on a windows machine.

[2014-10-15 23:07] #105 closed, assigned to nobody

[2014-10-16 02:39] #56 closed, assigned to nobody

[2014-10-16 02:43] #75 closed, assigned to nobody

[2014-10-16 02:44] #99 closed, assigned to nobody

[2014-10-16 02:44] #73 closed, assigned to nobody

[2014-10-17 15:36] matthewp opened #110 "Considering adding metadata dependencies in the build"
Here's the relevant discussion on [systemjs](https://github.com/systemjs/systemjs/issues/223).

This type of code won't work:

[code]

This can be fixed in the build if we concat a module's instantiated dependencies with it's metadata dependencies. The instantiate deps need to be in the front, because those are the ones the module actually uses.

[2014-10-20 21:42] zkat opened #111 "For `format: "amd"`, `define.amd` is not true"
Some things (such as `Bacon`), look for the `define.amd` property in their hand-coded `UMD` code. I think we need to set that to true when we're loading things as `amd`.

[2014-10-20 21:44] zkat opened #112 "`this` is not window when loading shimmed modules."
The `this` is not `window` in [this `eval` call](https://github.com/bitovi/steal-tools/blob/minor/lib/bundle/add_global_shim.js#L79), so things that export by doing `this.Something = X;` will fail.

[2014-10-21 17:09] matthewp opened #114 "Support builds that can be used with requirejs"
It would be nice if production builds could be loaded with RequireJS rather than StealJS.  Primarily for size.

[2014-10-21 23:09] matthewp opened #115 "Need better error reporting when there is a build error"
When there's a build error, like a plugin that is using the window, we get the error that occurred but not which module caused it. This makes it really tough to debug build issues.

[2014-10-29 09:23] wclr opened #117 "[TypeError: Cannot read property 'List' of undefined] error"
`TypeError: Cannot read property 'List' of undefined] error``
Occures if app contains multiple bundles that require views

To get the error just clone
https://github.com/whitecolor/steal-tools-build-views-bug
and folow the instructions in README

[code]

[2014-11-05 02:24] #82 closed, assigned to nobody

[2014-11-05 02:24] #112 closed, assigned to matthewp

[2014-11-05 08:12] wclr opened #119 "SASS (sass-lang) support"
What it the quickest way to add sass (http://sass-lang.com) support for steal build?

[2014-11-05 16:05] #119 closed, assigned to nobody

[2014-11-05 22:23] matthewp opened #120 "bundleSteal uses version of Steal used by steal-tools"
Ideally you would want it to bundle the steal that you're using.

[2014-11-06 06:34] meded90 opened #121 "i have a problim problems with billing my canJS proge project"
If I add "./style.css!" in deps
after the command "grunt build" I have here such error

[code]

and why is written here "bootstrap.csscss"
https://github.com/bitovi/steal-can-example/blob/master/stealconfig.js#L38

[2014-11-06 16:12] #120 closed, assigned to nobody

[2014-11-07 18:12] matthewp opened #122 "Make tests run in Windows"
I was able to get a fairly complex app to build in Windows but the tests themselves error.

It would also be great if there were an automated way to run tests in Windows as part of Travis.

[2014-11-07 19:28] wclr opened #124 "Build without need of eval of scripts"
For example in google chrome extensions it is striclty forbidden by Content Security Policy to use eval in scripts. That is why apps build with steal that contain global modules packaged as strings (to use with eval) fail to run.

Is there a solution for this problem currently?

[2014-11-09 08:40] wclr opened #125 "Option to pack global scripts without wrap"
To adress this issue https://github.com/bitovi/steal-tools/issues/124 it would good to have an option (via meta option) of packing global scripts in bundle as they are (just script code) without wrapping them into define, so they would just execute when bundle is loaded.

It would be just an option to get rid of need of runtime script eval that are not allowed by CSP.

[2014-11-15 15:35] wclr opened #127 "Deps of main module are not executed after build"
I have a `main/main` module. I want `utils/debug` to be executed before it. So I add:

[code]

In development mode all works as expected. But after build `utils/debug` is not executed before main. If I add it to other module for example:

[code]

it is executed.

[2014-11-15 15:38] #127 closed, assigned to nobody

[2014-11-17 02:23] #121 closed, assigned to nobody

[2014-11-21 16:17] #124 closed, assigned to nobody

[2014-11-21 18:57] HiFiSamurai opened #130 "Building Projects That Use Steal Syntax?"
I have a can/StealJS project, still in its' infant stages, and I am loading various modules and dependencies via the steal() syntax. It loads perfectly fine in development mode, but I have been unable to generate production builds. I haven't seen any good examples of this use case anywhere in the documentation, so I can't tell if I am just missing configuration settings, if this is entirely by des

[2014-11-24 15:34] #130 closed, assigned to nobody

[2014-11-26 13:17] #111 closed, assigned to matthewp

[2014-11-29 23:22] matthewp opened #133 "Multi-main test fails if @config is not a global"
If the @config is anything other than a global the multi-main test will fail with the error of "Multiple defines for anonymous module".  Not sure why, needs more investigation.

![screen shot 2014-11-29 at 6 18 45 pm](https://cloud.githubusercontent.com/assets/361671/5236144/b25473ba-77f4-11e4-97ab-9de42f4df0e8.png)

[2014-11-30 19:27] #117 closed, assigned to nobody

[2014-12-01 02:17] #60 closed, assigned to nobody

[2014-12-01 02:18] #20 closed, assigned to nobody

[2014-12-02 23:47] #133 closed, assigned to nobody

[2014-12-02 23:47] #102 closed, assigned to nobody

[2014-12-09 17:52] #110 closed, assigned to nobody

[2014-12-11 17:59] daffl opened #137 "Builds should support a banner"
Currently our CanJS builds have a banner with version information, built time etc. (see [here](https://github.com/bitovi/canjs.com/blob/master/can.jquery.js)). This is declared in the [builder.json](https://github.com/bitovi/canjs/blob/minor/builder.json#L3) but not used anymore for builds in minor. steal-tools should support an arbitrary banner text for any output file.

[2014-12-12 16:52] booc0mtaco opened #138 "Command line option for bundlesPath is outdated"
the documentation states that you can use `--bundlesPath` to tell steal where the built files will go, but the command line help mentions `--dist-dir` instead. the options for the command line should be updated to reflect:

- the current option name (`--bundlesPath`)
- the default value used (`dist/bundles` instead of the current `dist`)
- internal variable names, reflecting these options to avoid

[2014-12-12 17:37] matthewp opened #139 "Grunt task exits as successful when it is unable to find a file"
There is a test and we know that the promise rejects in this situation: https://github.com/bitovi/steal-tools/blob/96a152929e985bc3be39d68ffdc952508a30ed8c/test/test.js#L582

So the problem must be the grunt task.

[2014-12-13 05:23] whitecolor opened #140 "relative urls in css after build"
I have the following structure

[code]

```some-style.less``` contains url:
[code]
after build with ```bundlesPath == 'dist/bundles'``` in built ```result.css``` there is the url:
[code]

I think it is not correct. It url stays relative it should be
[code]

what do you think about it?

[2014-12-16 04:50] justinbmeyer opened #141 "pluginifier can't run at the same time and has weird logging"
![cursor_and_builder_ _node_ _80x38](https://cloud.githubusercontent.com/assets/78602/5448773/b8feb33c-84ac-11e4-8568-ea153e6b0d1a.png)

I also have to use a lock to try to pluginify jquerypp and canjs at the same time.

[2014-12-20 16:24] matthewp opened #142 "Streaming API"
It would be nice if we had a lower-level API that operated on Streams.  This would be particularly useful for the Watch mode, where a Promise doesn't make sense.  I propose dividing the API into something like this:

[code]

[code]

[code]

`createBuildStream` would be the low-level API that just returns a Stream containing Bundles.  `build` would work the same way it does today, except it would c

[2014-12-26 18:43] pYr0x opened #143 "tried to build can-workshop"
i downloaded can-workshop and tried to build a production version.

a stealconfig.js still exists.
i have created a Gruntfile.js like this:
[code]
i'v got this error:

[code]

if i tried the sample on http://stealjs.com/docs/index.html#section_QuickStart the build process will work.

[2014-12-31 23:46] matthewp opened #144 "Throws if there is a dependency of @empty"
It's because graph/order does not account for modules that are not on the graph:

https://github.com/bitovi/steal-tools/blob/master/lib/graph/order.js#L7

I guess we could just skip if the node is undefined. Maybe warn on that.

[2015-01-10 02:55] booc0mtaco opened #145 "Bundle paths generated on Windows builds gets corrupted"
Noticed this when inspecting the resulting build file after using `steal-tools` with grunt.

Given the following configuration:

[code]

a built file is produced at the correct path, but has the following for `System.paths`

[code]

Which causes problems on Windows. I was able to patch this in `steal-tools` by editing
https://github.com/bitovi/steal-tools/blob/master/lib/bundle/make_bundles_config

[2015-01-13 06:00] justinbmeyer commented on #145
somehow the bundlesPath is changing from / to \?  I wonder why.

[2015-01-13 16:30] booc0mtaco commented on #145
One of the path libraries must be outputting a Windows-formatted directory string. Since that's being inserted into a new JS file, it gets interpreted as escape sequences when the built file is parsed.

https://github.com/bitovi/steal-tools/blob/master/lib/bundle/make_bundles_config.js#L46

That library *might* have options to change the output format. `/` works perfectly fine on both platforms. I

[2015-01-27 16:32] #81 closed

[2015-02-02 17:39] booc0mtaco commented on #145
After reviewing the [path](http://nodejs.org/docs/latest/api/path.html#path_path_relative_from_to) library, found that the `.relative` method outputs platform-formatted strings. This path value gets created in

<https://github.com/bitovi/steal-tools/blob/master/lib/configuration/make.js#L40>

Which is fine for all file operations except when creating the output build files. Here, the path should b

[2015-02-03 04:33] justinbmeyer commented on #143
@pYr0x I can debug this with you tomorrow if you ping me on gitter: https://gitter.im/bitovi/steal

[2015-02-03 04:34] justinbmeyer commented on #51
This is working in CanJS.  It's system now parses.

[2015-02-03 04:34] #51 closed

[2015-02-03 04:36] justinbmeyer commented on #140
@whitecolor I agree.  Is this happening still?  Can you ping me tomorrow on gitter: https://gitter.im/bitovi/steal

[2015-02-03 04:37] justinbmeyer commented on #139
@matthewp Was this issue reported by someone?

Seems like we need a test for our grunt task.

[2015-02-03 04:38] justinbmeyer commented on #93
There is a guide, I think it just need improvements.

[2015-02-03 04:43] justinbmeyer commented on #14
@matthewp It simply would not put it in a bundle.  Ignore has meant something closer to loading @empty previously.  jquery is something people might not want to bundle, but to load from a cdn.  Our dev utils are something someone would want to ignore.

[2015-02-03 04:44] justinbmeyer commented on #41
@matthewp Yes, I think imports would probably be nicer.

[2015-02-03 04:46] justinbmeyer commented on #89
@joe-crick Once you get the docs working, maybe we can tackle this together.

[2015-02-03 20:56] booc0mtaco commented on #61
Related: #145

[2015-02-06 07:26] whitecolor commented on #140
I think it happens. But currenlty I use only absolute paths in my less files not to mess with relative paths issues.

[2015-02-06 17:49] whitecolor commented on #145
An old issue.

[2015-02-06 17:50] whitecolor commented on #92
It is going to be fixed in upcomming release?

[2015-02-06 18:24] justinbmeyer commented on #145
@whitecolor Do you mean this is no longer a problem and can be closed?

[2015-02-06 18:25] justinbmeyer commented on #92
@whitecolor It is configurable.  This is what bundlesPaths does.

Is there something to be fixed? Can you create an example (or better test) of it not working?

[2015-02-06 18:33] justinbmeyer commented on #92
@whitecolor It would be helpful if you could clearly explain the problem.

Perhaps, the problem is that bundlesPath should not be configured from stealconfig.js.  It really must be configured from the attributes or a `steal` object in the page.

Some code examples or test would be good.  If you can get this today, I can put it in the 0.6.0 release.  Thanks!

cc @alexisabril @joe-crick (there might

[2015-02-06 18:52] whitecolor commented on #92
I'm kinda confused about what is wrong with this paths, but something definitly wrong.

One of the problems:
in my build config (for grunt task) i've got:

[code]

```bundlesPath``` here is just a path where assets should be put. Why this paths go in the built code?

[code]

I would prefere to have something like that: some relative paths to main bundle (if i'm correct, this is puzzle for me too,

[2015-02-06 19:07] justinbmeyer commented on #92
I don't know what you mean here.  Can you rewrite it?

[2015-02-06 19:16] whitecolor commented on #92
On the destination (server or phonegap fs) I wll have following structure:
[code]

in index.html I load main bundle

[code]

What configuration of bundlesPath should I have to load mobile.js and mobile.css loaded correctly?

[2015-02-06 19:17] justinbmeyer commented on #92
I'm confused a bit.  It seems obvious to me that by setting bundlesPaths to `mobile/dist/www/assets`, it would result in:

[code]

This is what bundlesPaths does, it controls where the bundles are written out (while keeping baseURL the same).

I think that baseURL is kept the same is what is confusing you. I think you want baseURL to be moved to `moble/dist/www/assets`.

[2015-02-06 19:19] justinbmeyer commented on #92
You would probably have to do something like:

[code]

Like @matthewp  suggested.

[2015-02-06 19:29] whitecolor commented on #92
So you propose me to leave
[code]
in prodution code?

For me
[code]

in build config should be just place where I want built files to be. Why it is somehow related to where they are going to be on the server? Server doesn't know anything about ```mobile/dist/www/``` - so if such thing is happen to be in built code that run in production it is incorrect by design, don't you think so? How can I get

[2015-02-06 19:29] justinbmeyer commented on #92
@matthewp I think what people really want here is the ability to "move" where `baseURL` would be located.

This might cause all sorts of problems if they are:
 - `System.import`ing modules not in a bundle (that haven't been copied over to the new `baseURL`)
 - Loading anything relative to `baseURL` that hasn't been copied over (like an img).

`bundlesPath` is the path from the current baseURL to w

[2015-02-06 19:32] justinbmeyer commented on #92
No, because of the problems I listed above.  Anything your CSS / LESS / code references related to baseURL will be broken unless you also copy those things to your `dist` folder.

I'm on gitter: https://gitter.im/bitovi/steal.  Lets talk about it more there.

[2015-02-07 16:35] whitecolor opened #154 "Build option to respect different baseURL on server"
Example of grunt task config:

[code]

`bundlesPath` here is relative to ... (i don't know to what it is supposed to be), prehaps grunt process.cwd()?

Now in resulting built file (mobile.js) we will get:

[code]

But on server in `production` there is only `assets` folder and index.html we have:
[code]
 and after ```mobile.js``` is loaded (with bundled steal and stealconfig.js withing) baseURL wi

[2015-02-07 17:23] justinbmeyer commented on #154
System.baseURL

Is that still not clear?

Sent from my iPhone

[2015-02-07 17:40] whitecolor commented on #154
But what is System.baseURL while build process?

[2015-02-07 20:48] justinbmeyer commented on #154
The folder your stealconfig.js is in. Just like it is on the client.

Sent from my iPhone

[2015-02-07 23:01] justinbmeyer commented on #154
The point of bundlesPath is to take whatever bundlesPath is and write:

[code]

So seeing

[code]

Makes perfect sense.

This only makes sense for your current page location.  For example, your folder structure might look like:

[code]

If _my-page.html_ just had a script tag like:

[code]

and the bundles still looked like `System.paths["bundles/*"] = "./*.js";`, this would not work.  It would tr

[2015-02-08 00:26] whitecolor commented on #154
I just think there shoud be a way to get rid of ```mobile/dist/www``` in production code anyway.

[2015-02-08 00:26] justinbmeyer commented on #154
One final thing:

What do you mean you get this?  Is this hard-coded into your bundle? I don't see that happening somewhere in the code.

Perhaps it's because it's in your config?

[2015-02-08 00:28] whitecolor commented on #125
What about this issue?

[2015-02-08 00:28] whitecolor commented on #125
@justinbmeyer What about this issue?

[2015-02-08 03:36] justinbmeyer commented on #125
I think we can have an alternate global export that worked like the former rhino steal worked.

Essentially put globals directly in the bundle with a call after to register whatever is in the window.

It might mean making public some of SystemJS's global handling.

Sent from my iPhone

[2015-02-08 03:57] justinbmeyer commented on #154
@whitecolor Why are you building things this way?  Is there a reason you must move the baseURL?

What does your structure look like? It seems something like:

[code]

In development, don't you host _root_?  Why can't you keep hosting _root_ instead of _mobile/dist/www_?

If you have any css that references _my-img.png_, I'm not sure how we can support this type of change unless you copy everything

[2015-02-08 04:50] justinbmeyer commented on #154
Here's some docs I'm planning on adding to the `bundlesPath` section of steal-tools.build:

### Changing baseURL

Sometimes, you might want to build packages that load in production from an different
folder structure than in development.

For example, in development, your folder might look like:

[code]

_config.js_ might be at _http://localhost:8080/root/config.js_. The _root_ folder
is the [Syst

[2015-02-08 14:30] whitecolor commented on #154
This `mobile/dist/www/` is taken from build `system.bundlesPath` option.

[2015-02-13 17:58] justinbmeyer opened #155 "Make Steal-Tools testable on windows"
## Document what people have to install:

https://github.com/tmpvar/jsdom#windows

[2015-02-13 18:05] matthewp commented on #155
Duplicate of https://github.com/bitovi/steal-tools/issues/122

[2015-02-13 18:45] #155 closed

[2015-02-13 18:45] justinbmeyer commented on #122
## Document what people have to install:

https://github.com/tmpvar/jsdom#windows

[2015-02-13 21:41] whitecolor commented on #125
should it be expected in the 0.6 release?

[2015-02-13 22:07] justinbmeyer commented on #125
0.6 is already released.

But honestly, this is unlikely in 0.7 unless you are going to add it.  CSP is currently not a big issue for us.  However, I am happy to guide you through it.

[2015-02-18 09:49] whitecolor commented on #145
I mean that it wan't fixed too long.

[2015-02-18 09:52] whitecolor opened #162 "0.6.0 (multi)-build error on windows"
0.6.0 on windows

[code]

grunt task confg
[code]

had to add ```@dev': 'bower_components/steal/dev.js'``` because without it it can not find '@dev' module (error about `file URL`)

[2015-02-18 16:05] matthewp commented on #162
We have been tracking the `file:` problem on windows... not sure if there is a bug yet for that. But it's being worked on currently, once it's fixed maybe you can retry?

[2015-02-18 16:39] matthewp commented on #143
Did this get worked out?

[2015-02-18 20:41] whitecolor commented on #162
well of course I will retry. You shure that it is because of `file;`?

[2015-02-18 20:49] matthewp commented on #162
Working on the bug as we speak!

[2015-02-18 21:14] matthewp commented on #162
So we are fixing the bug in steal currently: https://github.com/bitovi/steal/issues/328

You won't have to do `file:` or the replace any more. Instead of

[code]

you can do:

[code]

this is the "correct" way to path on windows.

This isn't guaranteed to fix every Windows issue but I promise you that making Steal and Steal-tools work flawlessly on Windows is a top priority right now and we hope t

[2015-02-18 22:40] #144 closed

[2015-02-19 08:29] whitecolor commented on #162
Well I think for now it would be enough just before release of changes run couple of test builds on windows. It would identify majority of problems as a node environment usually works well on all platfroms.

[2015-02-23 23:40] m-mujica opened #166 "Upgrade to less 2.x"
There is an open PR to upgrade less to 2.4.0 in [StealJS](https://github.com/bitovi/steal/pull/335), I'm going to point Steal to that branch in steal-tool and make sure tests pass.

[2015-02-24 16:18] daffl commented on #137
I don't think steal-tool needs to worry about this. This should be done with your build tool. I just implemented [grunt-banner](https://github.com/mattstyles/grunt-banner) for CanJS.

[2015-02-24 16:18] #137 closed

[2015-02-24 21:29] m-mujica commented on #89
I'll take this one. :cop:

[2015-02-25 21:49] matthewp opened #168 "Make work with new directories.lib"
The new directories.lib changes the way modules can be imported from inside the package so need to update tests.

Partially fixed in system-npm: https://github.com/bitovi/system-npm/pull/12

[2015-02-25 21:50] matthewp commented on #89
I need this for https://github.com/bitovi/steal-tools/issues/168 so I'm taking it.

[2015-02-25 22:20] m-mujica commented on #89
![tumblr_m9s72v0ukt1ro2xth](https://cloud.githubusercontent.com/assets/724877/6381892/66c76d0c-bd23-11e4-95e6-e36b2b13a891.gif)

[2015-02-27 01:33] #168 closed

[2015-02-27 01:33] matthewp commented on #89
Closed by #169

[2015-02-27 01:33] #89 closed

[2015-02-27 01:40] #166 closed

[2015-02-27 02:24] matthewp commented on #122
Need to add documentation.

[2015-02-27 02:27] matthewp commented on #138
I should update this before release.

[2015-02-27 02:28] matthewp commented on #52
This is fixed now!

[2015-02-27 02:28] #52 closed

[2015-02-27 14:26] #138 closed

[2015-02-27 14:33] matthewp commented on #162
This should be fixed now, the correct way to pass a config (or any path on Windows) is:

[code]

[2015-02-27 14:37] matthewp commented on #145
bundlesPath should have Windows path separator because it's used to write the files. The fix is to not use bundlesPath when setting the url path.

[2015-02-27 14:38] matthewp commented on #143
Going to assume everything is fine here, please reopen if there is still an issue I can help with.

[2015-02-27 14:38] #143 closed

[2015-02-27 14:40] matthewp commented on #100
@mehiel Were you ever able to figure anything out? If there is a reproducible way to make the bug happen we'll be able to fix it.

[2015-02-27 14:43] matthewp commented on #37
This is the next big feature I'm going to be working on. Will start next week.

[2015-02-27 20:52] #122 closed

[2015-03-02 00:07] matthewp opened #172 "Exporting to AMD with Babel as transpile throws"
Came across this while updating bit-tabs. The reason is Babel AMD looks like:

[code]

`require` and `exports` are special module names and the amd helper is not accounting for the possibility of these. Should be an easy fix, breaking test on the way.

[2015-03-02 13:29] #172 closed

[2015-03-03 17:13] matthewp commented on #47
Closed by #47

[2015-03-03 17:13] #47 closed

[2015-03-03 23:21] justinbmeyer opened #174 "Give a warning if modules, graph, or eachModule is not provided"
I didn't have this and it took me a while to figure out that I was missing this property.

[2015-03-03 23:41] justinbmeyer opened #175 "transform options' export option should be called exports"
It's documented as `export` but it's implemented as `exports`:

http://stealjs.com/docs/steal-tools.transform.options.html

[2015-03-03 23:44] justinbmeyer opened #176 "+global-js writes out "steal" style moduleIds even if they are mapped"
When using the `+global-js` mixin, it writes out modules like:

[code]

if those modules were written with steal.

[2015-03-04 03:41] justinbmeyer opened #177 "+global-js and other exporters likely broken"
in `lib/build/helpers` there's a check like:

[code]

This no longer works.  If the main module's name will be something like:

[code]

npmUtils.pkg.main(pkg) will be something like:

[code]

[2015-03-04 22:10] justinbmeyer commented on #177
Only global-js seems broken.  Tested and fixed with: https://github.com/bitovi/steal-tools/commit/ec7b13709e5dcc6c4c14b9095e6d31e53a0f44db

[2015-03-04 22:12] #176 closed

[2015-03-05 02:21] matthewp opened #179 "Pass config through to transpile"
Passing the `config` through to compile would mean options set on `System.traceurOptions` or `System.babelOptions` could be useable in transpile.

[2015-03-05 02:21] matthewp commented on #179
Could do it here: https://github.com/bitovi/steal-tools/blob/master/lib/build/multi.js#L111

Just extend config with options, so you get both.

[2015-03-06 13:10] matthewp opened #180 "eachModule is not normalized"
It needs to be when used with npm. Fixing this now.

[2015-03-06 14:20] matthewp opened #182 "exports ignore is not normalized"
Needs to be so users can ignore npm modules.

[2015-03-06 16:17] justinbmeyer commented on #182
But it works with regular expressions. I'm wondering if normalization is wrong, but reverse normalize is right.  Perhaps not.

[2015-03-06 16:27] matthewp commented on #182
We can't really do a full denormalization so if we want to support things like `main: "app/"` we have to do normalization. Alternatively we could denpm the module names and put them into a quasi-normalized state like `can/component/component`.

[2015-03-06 16:45] matthewp opened #184 "For export, use main if modules, eachModule, graphs"
Often what you are wanting to export is the main. so you wind up doing something like:

[code]

It would be nice if you didn't have to specify this array twice.  If neither modules, eachModule, or graphs are provided we could just use `loader.main`.

[2015-03-06 20:04] matthewp commented on #182
I think denpm-ing the graph might be the way to go.  We can support System.main normalization and then just denpm afterwards.

[2015-03-07 23:07] whitecolor opened #185 "Error while building $less"
New steal while traspliing $less seems to import less module in a strange manner, so not `less` object with method `render` is imported but function that returns this object.

[code]

[2015-03-08 08:41] whitecolor commented on #185
Hm I had a strange version of less that imported from less folder not less-node in index.jt

[2015-03-08 08:41] #185 closed

[2015-03-10 13:11] #180 closed

[2015-03-10 13:11] #182 closed

[2015-03-10 13:20] #175 closed

[2015-03-11 16:43] justinbmeyer opened #188 "Conditional Builds"
If https://github.com/systemjs/systemjs/issues/285 lands, it would be good to support building apps that do conditionals.

[2015-03-12 02:56] matthewp opened #189 "global shim should test for "module""
The Babel export for amd creates something like;

[code]

We are currently handling `exports` case but not `module`.

[2015-03-12 15:08] matthewp commented on #177
This is fixed in 0.7.1

[2015-03-12 15:08] #177 closed

[2015-03-12 15:09] matthewp commented on #174
Why not use the `main` in this case?

[2015-03-12 15:10] matthewp commented on #139
I noticed it myself.  Yes, we should test these some how.

[2015-03-13 19:50] matthewp commented on #37
Some things I need to know:

* [ ] - Can I generate a source map from transforming an esprima AST?
  - Yes, if you create an ast and transform it, escodegen will generate source maps from that.
* [ ] - Can I concat the sources?
  - Look to see if I can concat esprima ast.
* [ ] - How to handle different types of asts.
  - Traceur creates it's own, can it be converted to esprima while maintaining s

[2015-03-13 20:33] justinbmeyer commented on #37
How does that work?  How can you transform it in such a way that escodegen knows what the transformations are?

[2015-03-13 20:42] matthewp commented on #37
I'm not sure, I need to research more to find out how that works. I'm guessing there are probably some limitations. Probably you have to perform operations they can track like `pop` and `unshift`.

[2015-03-16 17:30] matthewp opened #191 "bundleSteal with npm tries to load a stealconfig.js"
We need to set `configMain` when bundling steal.

[2015-03-17 12:22] #191 closed

[2015-03-18 00:09] daffl opened #193 "bundle-steal command line option isn't working if Steal is already installed on the top level"
The `--bundle-steal` option looks for `steal.production.js` in the `steal-tools/node_modules/steal` folder. If you already installed Steal at the top level in the same version NPM will not create that folder.

[2015-03-18 13:53] matthewp commented on #193
Thanks. I think the [reason is here](https://github.com/stealjs/steal-tools/blob/master/lib/node/make_steal_node.js#L8).  We might be able to use `require.resolve` here instead.

[2015-03-18 14:00] matthewp opened #194 "Update sourcemaps when running clean"
Clean modifies the source and so we need to update the sourcemaps with the new mappings after doing so: https://github.com/stealjs/steal-tools/blob/master/lib/graph/clean.js#L11

[2015-03-18 14:03] matthewp opened #195 "Create sourcemap when concatenating bundles"
https://github.com/stealjs/steal-tools/blob/master/lib/bundle/concat_source.js  should go through the bundle and append to a source map.

We need a way to differentiate nodes with an underlying file source and "virtual" nodes.

[2015-03-18 14:06] matthewp opened #196 "Update existing sourcemaps when minifying"
https://github.com/stealjs/steal-tools/blob/master/lib/build/multi.js#L140

Need to include the previous sourcemap when minification happens.

[2015-03-18 14:15] matthewp opened #197 "Handle activeSource changing in transform"
In transform we keep track of "activeSource", we might need to do the same thing for sourcemaps.

[2015-03-18 14:19] matthewp commented on #37
Wondering what the option should be:

[code]

Would create sourcemaps.

[code]

Would include the source content with the sourcemaps.

[code]

Would include the sourcemaps inline in the source (via base64 encoding).

[2015-03-20 12:57] matthewp commented on #37
@justinbmeyer I'm a little conflicted on how to implement one issue.

Source maps have a `files` array which is the file names. The browser will load these files relative to where the source map is located.  There is also a `sourceRoot` property you can set to make the root of where files are looked for. So you might have something like:

[code]

Right now I'm leaning towards having:

[code]

The

[2015-03-20 14:49] justinbmeyer commented on #37
I'm not sure sourceRoot is the way to go because you will still have to deal with the paths config. Typically only app moduleIds are located directly from baseURL.

Sent from my iPhone

[2015-03-21 09:29] whitecolor opened #198 "production file contains full paths from dev environment"
Well maybe this does not effect on the work but it is definetly INcorrect that built production files contain any paths from dev envinoment.

[code]

Why it contains `file:d:\\MyCodeFolderPath` ? It should not be there.

[2015-03-21 11:07] whitecolor commented on #154
I have the following structure for my project:

[code]

what we have got in app.js"
[code]

in production `public` is hosted, so `/app.js` - is absolute path to main bundle in proudction. no any `client` or 'public` folders there.

How to implement this configuration correclty?

[2015-03-21 11:13] whitecolor opened #199 "Bundling language packs"
There was a smaill discussion about language packs on gitter. I wan't to open an issue here about it, to expose some ideas how this can be done with steal.

Is there a way to bundle such files in separate bundles like css bundling is done?

[2015-03-21 11:38] #162 closed

[2015-03-21 12:22] matthewp commented on #198
Yeah I agree, will take a look.

[2015-03-21 16:53] whitecolor commented on #198
I think putting the whole package json is exessive either.

[2015-03-22 02:46] whitecolor commented on #199
Any ideas how this can be implement?

[2015-03-22 05:24] justinbmeyer commented on #199
#188

Sent from my iPhone

[2015-03-23 14:28] matthewp opened #200 "global build's define interferes with UMD"
We can't `delete window.define` because we need to retain `define.modules`. Can we just name this something else?

[2015-03-24 01:51] matthewp commented on #200
Maybe we just name it something else, `register` maybe.

[2015-03-24 17:06] #200 closed

[2015-03-25 19:08] Alex0007 opened #202 "no steal in steal-tools/node_modules"
When i install steal-tools into project, there is no *steal* folder in `myproject/node_modules/steal-tools/node_modules/` so i need to run `npm i` inside steal-tools folder

OS: Linux
npm: 2.7.1

[2015-03-25 19:26] matthewp commented on #202
I'm not understanding, why does there need to be a steal folder there?

[2015-03-25 19:32] Alex0007 commented on #202
Coz it is specified in [dependencies](https://github.com/stealjs/steal-tools/blob/master/package.json#L17)

[2015-03-25 19:34] matthewp commented on #202
What I'm asking is, what breaks by steal not being there?  npm doesn't always install dependencies in a project's own node_modules.

[2015-03-25 19:43] Alex0007 commented on #202
Build task fails without that folder

[code]

[2015-03-25 19:44] daffl commented on #202
I think this is a duplicate of #193

[2015-03-25 19:46] matthewp commented on #202
Yes, it might be @Alex0007 can you post your build script or gruntfile or whatever?

[2015-03-25 19:47] Alex0007 commented on #202
[code]

[2015-03-25 19:48] matthewp commented on #202
Yes this is a bug involving `bundleSteal`, same as #193. Thanks for reporting, will try to get this fixed soon.

[2015-03-25 19:48] #202 closed

[2015-03-26 00:03] whitecolor commented on #125
@matthewp Hey, if it is not so difficult could you address this? We need to pack chrome app and can not do this without this.

[2015-03-26 00:09] matthewp commented on #125
@whitecolor it's pretty easy to work around this. Just any globals mark as amd instead (in system.meta). Then use SystemJS's csp build which includes the script loader. Is there anything else I'm missing?  I think having a CSP option as part of the  build eventually is a good idea but I can't work on it immediately unfortunately.

[2015-03-26 03:27] #193 closed

[2015-03-26 03:30] matthewp commented on #193
Fixed in https://github.com/stealjs/steal-tools/tree/v0.7.4

[2015-03-26 03:30] matthewp commented on #202
Fixed in 0.7.4

[2015-03-26 03:32] #184 closed

[2015-03-26 08:55] whitecolor commented on #125
you mean  SystemJS's csp build for steal packed app? Don't understand completely.

[2015-03-31 17:01] matthewp opened #204 "Create sourcemap from less file"

[2015-03-31 17:03] matthewp commented on #37
There's a bug in source-map (https://github.com/mozilla/source-map/issues/174) that is blocking me on concatenating minified code at the moment.  There's a couple of possible workarounds but would prefer to fix the upstream bug.

While I wait for them to reply I'm going to finish up the remaining issues with sourcemaps and get all tests to pass again.

[2015-04-01 19:19] matthewp opened #205 "Document noGlobalShim"
Used [here](https://github.com/stealjs/steal-tools/blob/master/lib/build/transform.js#L104) and should appear on [this page](http://stealjs.com/docs/steal-tools.transform.options.html)

[2015-04-01 22:12] matthewp opened #206 "Global export does not clean up system"
The System that is created here:

[code]

[2015-04-02 14:25] matthewp commented on #37
This change will break transforms API.  Currently it returns source, now it will return an object like: `{ code, map }`

[2015-04-02 14:28] matthewp commented on #37
Maybe we should just put this in a pre-release and when #80 is done those are 1.0.0.

[2015-04-02 15:51] matthewp opened #208 "Document Source Map options"
Also document the change in the API for **transform**.

[2015-04-02 20:53] matthewp opened #209 "If transpiler is Babel use Babel to parse ES6 imports"
Currently we always use Traceur to parse the `import` statements, but this will cause problems when the code contains features Traceur doesn't support.  We should separate the implementations based on which transpiler the user is using.

[2015-04-03 19:15] #206 closed

[2015-04-03 19:27] matthewp commented on #188
We should just build this as an extension ourselves. There are a lot of cool features in SystemJS that get discussed but never implemented.

[2015-04-06 18:30] #37 closed

[2015-04-06 18:32] matthewp commented on #194
Fixed by #210

[2015-04-06 18:32] #194 closed

[2015-04-06 18:32] matthewp commented on #195
Fixed by #210

[2015-04-06 18:32] #195 closed

[2015-04-06 18:32] matthewp commented on #196
Fixed by #210

[2015-04-06 18:32] #196 closed

[2015-04-06 18:32] matthewp commented on #197
Fixed by #210

[2015-04-06 18:32] #197 closed

[2015-04-06 18:33] matthewp commented on #204
Fixed by #210

[2015-04-06 18:33] #204 closed

[2015-04-07 22:23] matthewp opened #214 "export's base helper's dest writes out npm-like folders"
These should be denpmed by default.  If you have a folder structure like:

[code]

And tabs uses utils:

[code]

It will write out to something like: `dist/cjs/pkg@0.0.1#utils/utils.js`.

[2015-04-08 13:00] #214 closed

[2015-04-09 14:35] matthewp opened #217 "Document export's normalize"

[2015-04-10 12:56] matthewp opened #218 "JSON format throws in build"
Because it cannot be transpiled.

[2015-04-10 13:00] matthewp commented on #218
Relevant upstream bug: https://github.com/bitovi/system-json/issues/1

[2015-04-10 13:45] matthewp commented on #43
This works now with export.

[2015-04-10 13:45] #43 closed

[2015-04-13 17:43] matthewp commented on #80
Notes:

1. Only want to get the dependency graph once.
2. Will probably want to do something like exports does to cache the results of transformations to prevent redoing them unnecessarily.
3. Want a way to abort a build in cases where we start a new one before the previous is finished (use [documentjs as an example](https://github.com/bitovi/documentjs/blob/master/lib/generate/generate.js) of how

[2015-04-14 15:27] whitecolor opened #220 "Build without writing bundles to FS."
The option that will not write bundles to FS is needed. (when one need jsut in memory bundles data).

[2015-04-14 15:34] matthewp commented on #220
We're going to have streams which takes care of this need: https://github.com/stealjs/steal-tools/issues/142

[2015-04-14 18:30] matthewp commented on #218
Fixed in #219

[2015-04-14 18:30] #218 closed

[2015-04-15 19:19] whitecolor opened #221 "Build fails in 0.8.2"
The same config works ok with 0.7.4

[code]
I'm not sure what error means, so will put config without changes

package.json:
[code]

Though it seems that it doesn't load system config at all.

Build output:

[code]

[2015-04-15 20:03] matthewp commented on #221
Maps shouldn't have relative paths in them. You should be using `paths` in those cases.  Also, does this mean your `node_modules` folder is not in the same directory as your `package.json`?  I didn't think that was even possible.

[2015-04-15 20:13] whitecolor opened #222 "base-url tag attribute tries to loads stealconfig"
I want to set baseURL using tag attribute:
`<script src="../node_modules/steal/steal.js" data-base-url="base" data-main="app"></scirpt>`

If I do so it tries to load base\stealconfig.js (I dont' have any) and doesn't try to load package.json.

I tried to add data-config="../package.json!npm" in script tag, but it doesn't load system config.

And with data-base-url it tries to load main="app" from

[2015-04-15 20:16] whitecolor commented on #221
But why it works with 0.7.4?

nod_modules in the same folder as package.json

[2015-04-15 20:24] justinbmeyer commented on #222
You expect `<script src="../node_modules/steal/steal.js" data-base-url="base" data-main="app"></scirpt>` to load `base\package.json`?

You should probably be setting config-main in this case, instead of data-config.  data-config sets configPath, which has a side-effect of setting baseURL and configMain.

[2015-04-15 20:30] whitecolor commented on #222
@justinbmeyer with config-main it tries to load `base/package.json`

[2015-04-15 20:33] matthewp commented on #221
If node_modules is in the same folder why is it `"../node_modules/less/dist/less"`?

[2015-04-15 20:33] matthewp commented on #221
Oh because you are changing the base.

[2015-04-15 20:35] matthewp commented on #221
You should be able to pull this off with this map:

[code]

The mapping you have for common should be a paths.  Make those changes and let me know.

[2015-04-15 20:36] matthewp commented on #222
Well regardless of any workarounds, adding a baseURL shouldn't trigger stealconfig to become the configMain, so I'll take a look at recreating it in a test.

[2015-04-15 20:37] matthewp commented on #222
Shouldn't this be in stealjs/steal though? This is a browser bug.

[2015-04-15 21:10] whitecolor commented on #222
Yes sorry) hah should I create the issu there?

[2015-04-15 21:11] matthewp commented on #222
Yeah please do.

[2015-04-15 21:17] whitecolor commented on #221
after I added this map client dev app (wich loads `lesscss` module )works ok
but build fails to load $less

[code]

[2015-04-15 21:20] #222 closed

[2015-04-15 21:48] matthewp commented on #221
Since you're using your own less you'll want to add a `buildConfig` that maps to the node version of less, like shown here: http://stealjs.com/docs/System.buildConfig.html

[2015-04-15 22:40] whitecolor commented on #221
@matthewp could you ellaborate what excaclty should I put there, I don't get. Isn't using `buildConfig` the same as  `stealTools.buiid` config?

[2015-04-15 23:04] matthewp commented on #221
This will probably work:

[code]

[2015-04-15 23:31] whitecolor commented on #221
This breaks loading of `lesscss`

[code]

Actually I don't understand why mapping  `"lesscss": "less/dist/less"` breaks loading of `less` or `$less`

[2015-04-15 23:34] whitecolor commented on #221
No this doesn't help the same result.

Actually I don't understand why mapping  `"lesscss": "less/dist/less"` breaks loading of `less` or `$less`...

[2015-04-15 23:41] matthewp commented on #221
Having a `less` dependency is probably what is breaking it, because the less plugin requires `less`.

[2015-04-15 23:41] matthewp commented on #221
Will try to create a test for this.

[2015-04-15 23:45] whitecolor commented on #221
Well seems to solve. To use this mapping `"lesscss": "less/dist/less"` I had to remove `less` from `npmIgnore` - this broke build (it could not load `less`)

So finaly I mapped `lesscss` using `paths`:
[code]

This works. Thought I'm seeing it as issue of conflicting beetween need use use client (browser) side less from npm package and steal build.

[2015-04-16 00:34] matthewp commented on #221
I don't quite understand what you are doing,  your using less in the browser but not the less plugin, but do want to use the less plugin in the build? Is that right?

[2015-04-16 09:44] whitecolor commented on #221
Just to make things clear:
1) less plugin is need in client app becase user can edit style of some kind of content (user level content).
2) I don't load less style on the client, I complile in on server, using realtime transpiler (less file is requested - compiled css send to client) so no need in $less plugin in browser. So for dev I remap $less to style hot reload plugin (on change styles are re

[2015-04-16 19:31] matthewp opened #223 "Allow overriding export's ignore"
Documented here: http://stealjs.com/docs/steal-tools.transform.options.html

Should be possible to override this with a custom ignore when using `+amd` or `+cjs` but currently is not.

[2015-04-16 19:31] matthewp commented on #217
Documented here: http://stealjs.com/docs/steal-tools.transform.options.html

[2015-04-16 19:31] #217 closed

[2015-04-16 19:32] matthewp opened #224 "Allow overriding export's normalize"
Documented here: http://stealjs.com/docs/steal-tools.transform.options.html

If you're using `+amd` or `+cjs` or `+global-js` you should be able to override the normalize. Probably you want both to run.

[2015-04-16 19:33] matthewp commented on #209
Ask me if you want to work on this and i'll explain.

[2015-04-16 19:33] matthewp commented on #208
This is documented, just forgot to close.

[2015-04-16 19:33] #208 closed

[2015-04-17 01:08] matthewp commented on #220
Closing in favor of #142

[2015-04-17 01:08] #220 closed

[2015-04-17 01:10] matthewp commented on #221
It just sounds like you have a complicated setup which is why you are having to do some special configuration to pull it off.  Anyways, it should not be a problem to bring your own less, installed with npm, and have that be used by `$less` with some mappings.  If you want to set up an example project I can help you get it configured to work.  It would serve as a good example for people who want th

[2015-04-17 01:10] #221 closed

[2015-04-17 01:12] matthewp commented on #115
The final piece if this is going to be merged into 0.9.0 with https://github.com/stealjs/steal/pull/398  I think the error reporting is pretty good now. Feel free to file a new issue if you come across some bad errors.

[2015-04-17 01:12] #115 closed

[2015-04-17 01:14] matthewp commented on #100
Going to merge the test: https://github.com/stealjs/steal-tools/pull/225

Please reopen if you have an example of this failing.

[2015-04-17 01:14] #100 closed

[2015-04-17 19:06] #80 closed

[2015-04-17 20:57] matthewp opened #227 "Make developing steal-tools work with Node 0.12 and io.js"
It's not because we are using an older version of Zombie: https://github.com/assaf/zombie

Maybe it's a simple upgrade?

[2015-04-20 14:55] matthewp commented on #188
He's the gitter discussion behind conditionals for reference: https://gitter.im/stealjs/steal?at=54fe5775846ca2ce6e20b77f

[2015-04-20 18:19] matthewp opened #228 "grunt task throws if buildOptions are not passed"
these should be optional.

[2015-04-20 18:51] #228 closed

[2015-04-21 16:57] matthewp opened #230 "bundleSteal prevents configuring with a steal global"
This trick:

[code]

Doesn't work when bundling steal because bundleSteal adds it's own configuration.  Should probably merge them instead.

[2015-04-21 16:57] matthewp commented on #230
thanks @dylanrtt for finding this.

[2015-04-21 16:58] matthewp commented on #230
Code is here: https://github.com/stealjs/steal-tools/blob/master/lib/bundle/add_steal.js#L8

this just needs to be a little smarter.

[2015-04-22 04:05] BigAB opened #231 "BundleSteal in a web worker fails with `window is not defined`"
I want to be able to build/bundle a web worker file with Steal.

When I bundle the web worker with steal (`bundleSteal: true`) and I try and use the web worker it fails with the error:

[code]

The offending code seems to be here:
https://github.com/stealjs/steal-tools/blob/master/lib/bundle/add_steal.js#L8

in the `[add-define]` part.

Simply changing it to `this.define` instead of `window.define

[2015-04-22 12:45] matthewp commented on #231
I wouldn't use `this`.  I think there are issues with that.  I would do this ugly sort of thing:

[code]

[2015-04-22 17:40] shcarrico commented on #231
:+1: matthewp

[2015-04-22 20:48] #231 closed

[2015-04-22 20:49] matthewp commented on #231
Doing a release for this.

[2015-04-22 20:56] matthewp commented on #231
This is in 0.9.4, just published.

[2015-04-27 14:46] matthewp opened #234 "Update dependency graph to use new steal.clone"
Only needs to be `steal.clone()` now.

[2015-04-28 20:52] #230 closed

[2015-04-28 21:27] mehiel opened #238 "steal-build watch mode error after the first event: Cannot read property 'deps' of undefined"
When running in watch mode, after the first pass if I change any watched file and I get this error.

![streal-watch-error](https://cloud.githubusercontent.com/assets/687998/7380404/47d535ca-ee04-11e4-85e0-247059d891e9.png)

**Gruntfile.js**
[code]

**stealconfig.js**
[code]

[2015-04-28 21:28] mehiel commented on #238
If this is not a silly configuration error and you can give me a clue I could start looking deeper for the reason/solution.

[2015-04-28 21:36] justinbmeyer commented on #238
@mehiel Does it work in the browser?  What about if you run a normal build?  Thanks.

[2015-04-28 21:37] mehiel commented on #238
Yes it works. Both in browser and normal build. If you want to repro just run this [yo generator](https://github.com/Logicea/generator-stealcanjs) and run `grunt build --watch`

[2015-04-28 21:43] matthewp commented on #238
Thanks, I'll take a look at this, there was a bug with this module that is being fixed in `0.10.0` (released tomorrow), if you're using ES6 that could be the issue.

[2015-04-28 21:46] mehiel commented on #238
Yes I'm all in ES6. I'll try to run that again tomorrow (it's GMT+2 here) with the latest version (or master) and I'll come back. Thank you both for the response.

[2015-04-29 01:08] lukewhyte opened #239 "Using steal-export, cannot set outputs.ignore to regex"
It seems that in the parse method on line 83 of npm-utils.js, we're trying determine if ignore's value is a npm-like modulename, in turn, assuming that it is a string.

[2015-04-29 01:15] matthewp commented on #239
This is probably caused by the logic that converts ignores to npm style module names, but we just shouldn't be doing the conversion if the ignore is a non-string.

[2015-04-29 13:18] #234 closed

[2015-04-29 13:27] matthewp commented on #238
Hey @mehiel 0.10.0 was released, if you could update and retry let me know, this should be fixed now though.

[2015-04-29 15:03] matthewp commented on #238
@mehiel Can you give me some more details of when it's not working?  For example I created a project using your generator and then edited a couple of files and got rebuilds, see the screenshot below.  Was it only when you edited certain files maybe?

![screen shot 2015-04-29 at 11 02 12 am](https://cloud.githubusercontent.com/assets/361671/7394076/60ef81c2-ee5f-11e4-9eb6-e82967ed9d20.png)

[2015-04-29 16:28] mehiel commented on #238
hmmm.. interesting.. this is what I'm experiencing:

In the first screenshot I have an open file `app/app.js` (right-bottom) and I'm start building it in watch mode (left) and it all goes well and then I get the date modified and the md5 of the generated `dist/app/app.js` (right-top) for later reference.

![1-build-in-watch](https://cloud.githubusercontent.com/assets/687998/7395460/ab21b222-eea2-1

[2015-04-29 16:44] mehiel commented on #238
FYI I add some environmental details that may be relevant:
**OS**: Linux 3.19.3 on Debian stretch/sid
**filesystem**: ext4
**nodejs**: v0.10.29
**grunt**: v0.1.13

_If you want anything else just let me know,_
Thanks!

[2015-04-29 16:58] matthewp commented on #238
The event in the console is the indication that a rebuild has occurred.  Maybe that needs to be clarified in the docs. There is a timestamp and the name of the module that triggered a rebuild.  Nothing else should happen (we don't have the verbose output with watch mode).  When you reload the page do you not see your change?

[2015-04-29 19:16] mehiel commented on #238
Yes I got that. It seems that it's start building but hangs. As you can see from the md5 in the screens above, the content is not changing (and as a consequence, no if I reload the page I don't see my change). And the thing is that if I do more changes I get no events after the first.

[2015-04-29 19:20] mehiel commented on #238
I'll try to run that under `strace` to see if I get more info for debugging.

[2015-04-29 19:21] matthewp commented on #238
Maybe try with quiet: false and verbose: true  watch mode is intentially quiet.

[2015-04-29 22:37] #238 closed

[2015-04-29 22:37] mehiel commented on #238
The error described in this issue is fixed by 0.10.0

[2015-04-29 22:41] mehiel opened #240 "steal-build watch mode: after a change triggers a build but doesn't refresh the source code"
If you start steal-build in watch mode and you change the source code of a file without changing its dependencies then the build doesn't read the new code and the generated file is the same.

See issue #238 for more information as this case was described there in detail.

[2015-04-29 22:55] mehiel opened #242 "steal-build watch mode: after the first edit is stops watching the files"
This is happening on Debian 8 and probably linux in general as it has to do with inotify watchers.

[2015-04-29 22:56] mehiel commented on #242
A proposed workaround (thanks to @matthewp) is to comment out [watch.js:13](https://github.com/stealjs/steal-tools/blob/master/lib/stream/watch.js#L13)

[2015-04-30 01:34] matthewp commented on #242
Thanks, I'll take a look and see if the unwatch is needed, it's probably not.

[2015-04-30 12:49] matthewp commented on #242
I tested this out and the unwatch is not needed.  Going to remove it.

[2015-04-30 12:52] matthewp commented on #242
Once I merge this i'll do a patch release for you.

[2015-04-30 12:59] #242 closed

[2015-04-30 13:05] matthewp commented on #242
Ok, released a 0.10.1 with this and your fix. Thanks for figuring this out!

[2015-04-30 13:05] mehiel commented on #242
@matthewp Much obliged for the patch release.

I did a fast pass myself and it seems that you do that because if I change the dependencies of a module then you probably have to watch some new  files (in case of a new dependency added) but you may also have to stop watching files that are not dependencies anymore (in case of a removed dependency). So unwatching some addresses makes sense in that ca

[2015-04-30 13:09] matthewp commented on #242
Ah, yes, I think maybe that was my original intent. It's a bit of a corner-case but you are right.  Could use something like lodash _.difference to compare the old/new like you said, and just unwatch the old.

[2015-04-30 13:09] mehiel commented on #242
Sure.

[2015-04-30 13:25] matthewp opened #244 "Make live-reload work over ssl"
Might need a `--live-reload-ssl` option

[2015-04-30 13:27] matthewp commented on #244
Related: https://github.com/stealjs/live-reload/issues/3

[2015-04-30 13:34] matthewp commented on #244
Would need to change here: https://github.com/stealjs/steal-tools/blob/master/lib/create_websocket_server.js#L6

Probably need to pass in the cert.

[2015-04-30 16:07] matthewp commented on #240
Closed by #240 Thanks @mehiel

[2015-04-30 16:07] #240 closed

[2015-04-30 18:24] mehiel commented on #242
@matthewp FYI I did the change in [this commit](http://goo.gl/9T1BRV) but I'm not sending a PR yet because the problem of not adding a watch on a file that was previously unwatched persists.

So if for example I edit a module and remove a dependency then only the files related to that dependency are unwatched. Which is corrent. But if I add it again that `watch.add()` doesn't work (and doesn't fai

[2015-04-30 18:25] matthewp commented on #242
Thanks for looking into this. chokidar has more events, maybe there is an error event we need to listen to.

[2015-05-01 09:19] mehiel commented on #242
I've reported that to [pollmillr/chokidar#289](https://github.com/paulmillr/chokidar/issues/289) with a patch adding failing test.

[2015-05-04 12:01] mehiel commented on #242
@matthewp I had some progress with that. Sent a [PR to chokidar](https://github.com/paulmillr/chokidar/pull/291) with a _probable_ fix. We have some conflicts with the tests but we'll figure it out.

At least it now works as expected in watch mode.

[2015-05-04 12:04] matthewp commented on #242
Awesome! Thanks for following up on this. Once that bug is fixed please do send that newAddresses PR to us. Think that's the correct way to go.

[2015-05-04 12:22] mehiel commented on #242
kk

[2015-05-04 19:19] HiFiSamurai opened #247 "New steal version can't build functional version of CanJS"
I have a project which had previously building successfully, using canJS 2.1.3 and stealJS 0.4.0, but after updating to 2.2.4 and 0.8.4 respectively the outputted production JS file does not execute properly.

The only other major change was that under the new canJS version I was able to target an alternate location of canJS source files:

### Old

    "can/*"                                   :"b

[2015-05-04 19:26] matthewp commented on #247
What do you mean by this?  Will need a little more info to help you.

Also if you updated Steal make sure to update Steal-Tools as well, using different versions could do weird things.

[2015-05-04 19:33] HiFiSamurai commented on #247
I am using steal and steal-tools at version 0.10.2 (disregard previously stated version, as it was originally noticed with that version but has been updated to match current release).

What I mean is that any subsequently stolen controllers and models cannot initialize properly, since the window.can object is not available.

    can.route(":section");
    Uncaught ReferenceError: can is not define

[2015-05-04 19:36] matthewp commented on #247
Shouldn't those controllers and models be stealing "can" anyways?  It sounds like you had a timing issue that just happened to work before, the fix is not to rely on a global and instead import all of the modules you need.

[2015-05-04 20:00] HiFiSamurai commented on #247
Hmm, so I can steal the can libraries in every sub-file and it seems to behave better, but that involves a total rewrite of large parts of my codebase. It will also break some custom extensions and convenience utilities for the library.

The bigger issue seems to be that 'can' can't be stolen as a global. When I configure it that way it fails in development mode, seemingly because while "window.ca

[2015-05-04 20:09] matthewp commented on #247
can isn't a global so marking it as a format: global won't do what you want.  I really suggest fixing your modules to depend on can if they use them. Another thing you could do, but I won't recommend, is still can first, in your main and then dynamically import everything else. Something like:

[code]

again, would be a better use of your time to just import can.

[2015-05-04 20:28] HiFiSamurai commented on #247
Hmm, well, I played with the idea of manually declaring window.can, but it creates the same level of re-structuring that importing it regularly would, so I suspect I will have to bite the bullet and just re-structure every module. My concern then becomes, what config changes will be needed by the time the next version roles out?

One of my pet-peaves with this system is things that work in develop

[2015-05-04 23:07] matthewp commented on #247
The reason for that is when you bundle the modules together they are ordered based on what their dependencies are. So that means if you have a lot of modules depending on `can`, `can` will be ordered towards the top.  In development it's likely that as long as one of your top-level modules is dependent on `can`, then `window.can` will exist before any of those modules are fetched.

If you prefer t

[2015-05-11 17:28] matthewp commented on #247
Closing as this is not a bug.

[2015-05-11 17:28] #247 closed

[2015-05-11 17:29] matthewp commented on #239
Fixed by #245

[2015-05-11 17:29] #239 closed

[2015-05-22 15:57] matthewp opened #253 "Upgrade babel and traceur"
Upgrade to the latest of both.

[2015-05-26 20:07] kylegifford opened #254 "CJS build that includes dependency's CSS file fails with browserify"
Source file:
[code]

Source system configuration in package.json:
[code]

Built CJS file:
[code]

Error on build:
[code]

[2015-05-26 21:23] kylegifford opened #256 "AMD exports of packaged CSS not working correctly"
Original file:
[code]

System configuration:
[code]

Exported AMD file
[code]

Gives the following error:
![upload](https://cloud.githubusercontent.com/assets/4341379/7823780/9a015c32-03c3-11e5-9ce1-8323e6bd3c26.png)

[2015-05-27 13:41] #189 closed

[2015-06-03 10:54] ekvilon opened #258 "All-in-one file build is not working If CanJS is included as dependency"
Hi.

I have implemented module that uses CanJS and jQuery which I installed by npm and lodash which I installed by bower. After building package I get error when I try import module (I use browser-sync to test):
[code]

Package is building well but I see warnings:
[code]

You can access my test project at https://github.com/ekvilon/tests/tree/master/stealjs-n-canjs

`package.json`:
[code]

`bower.

[2015-06-03 13:13] matthewp commented on #258
You should be using can not canjs from npm. Also the path is unnecessary. Give that a try and let me know.

[2015-06-03 13:30] ekvilon commented on #258
Thanks, will try.

[2015-06-03 13:39] ekvilon commented on #258
I just changed `package.json`:
[code]
and everything is fine now but I can't include stache template anymore.

I created hello-world.stache template and added it as dependency to hello-world module:
[code]
and I got error:
[code]

I will try map `can/view/stache/system` to cjs/steal version or try using cjs/steal can version.

[2015-06-03 19:19] ekvilon commented on #258
@matthewp I tried "can" and everything is fine now. Also I removed paths and unnecessary aliases. Again thank you very much!

[2015-06-03 20:05] matthewp commented on #258
Np

[2015-06-03 20:05] #258 closed

[2015-06-11 16:13] whitecolor opened #260 "Breaking API with patch version"
Hey you are breaking API with patch version,

 for example in 0.10.6 build result was just `bundles {Array}` and in 0.10.7 build result is:
[code]
like in current doc http://stealjs.com/docs/steal-tools.BuildResult.html

Think it is not correct thing to do in patch version, at least it broke things for us in production.

[2015-06-11 16:53] matthewp commented on #260
Sorry about that, it was always documented as BuildResult, it was incorrect in 0.10.0-0.10.6.  Bundles are still available as `buildResult.bundles` or you can roll back to 0.10.6 if you don't want to update your code.  I assumed since no one noticed that it was broken (not a BuildResult) that no one would complain when I fixed it.

[2015-06-11 17:18] whitecolor commented on #260
Ok. Thanks.

[2015-06-11 17:18] #260 closed

[2015-06-12 16:53] whitecolor opened #261 "steal-pack-bundles issues"
@matthewp
There is a module that we use to pack bundles after steal build:
https://github.com/whitecolor/steal-pack-bundles

1) Please take a look at it and maybe you would have some advice how it can improved and what do you think about the need of such thing.

2) if you clone the repo and run test (`npm test`) then start some static server to server `public` folder (that will appear after test b

[2015-06-12 17:51] matthewp commented on #261
Cool, so is the idea of this project to facilitate moving all assets (not just steal but including steal) into a production folder and then updating bundlesPath?  I think this is what you're doing.

So probably for this project you would want to be able to prevent steal-tools from writing to the filesystem, right?  I'm guessing you clean that up manually. There's actually a way to do this now alth

[2015-06-12 18:40] whitecolor commented on #261
Yes it would be nice to get rid of fs bundles.

The problem currentlty with mode when steal is not bundled in main bundle (`packSteal: true`)
so in index.html
[code]
packBundles also adds in the end of file (without it app is not importing)
[code]
In this case app is loaded normally and works, but in console there is an error, something like:
[code]

[2015-06-12 19:14] matthewp commented on #261
Sounds like you have some double-loading going on.  I would advise against setting data-main to "web-app-d460f06a".  The **name** of your main is still `web/app`, the location is just different.  You should be updated the bundlesConfig that gets generated.  It should be at the top of your main bundle and be System.bundle = { ... }.  It's a mapping of each bundle and which modules are included.  Yo

[2015-06-12 19:30] whitecolor commented on #261
whe `data-config="package.json!npm" ` need to be here?

[2015-06-12 19:36] matthewp commented on #261
Oh, right. So in this case it might be a race condition happening.  Forget my last comment (keep your script tag as it was) and instead change:

[code]

to:

[code]

This should wait for the bundle to be loaded.  Let me know.

[2015-06-12 19:50] whitecolor commented on #261
Well that works the same way. App is loaded but the same errors in console are in place.

[2015-06-12 19:57] matthewp commented on #261
Arg, then it's not the issue i would have thought. So I can test this by pulling down your project and running npm test? I'll take a look later if so.

[2015-06-12 20:09] whitecolor commented on #261
Yes if you run `npm test` it will build the app in `public`, that run some static server (for example harpjs.com - `harp server public`) and access localhost:9000 in consolte you should see the errors and strange behaviour that `detached-module` is loaded twice.

[2015-06-13 03:00] whitecolor opened #262 "add build options to buildResult"
It would be usefull to have options object (using what build was made) available in build result http://stealjs.com/docs/steal-tools.BuildResult.html

[2015-06-13 03:40] whitecolor commented on #261
@matthewp I've updated https://github.com/whitecolor/steal-pack-bundles#tests instructions, so you can eseally navigate throught there result and see the errors in console (packed and built version have them)

[2015-06-18 15:03] daffl opened #263 "Grunt task should always fail when there's an error"
Currently the [build Grunt task](https://github.com/stealjs/steal-tools/blob/master/tasks/build.js) does not error when the build fails.

[2015-06-18 15:08] matthewp commented on #263
Yes, this is hopefully easily fixed. Should be able to add an error function to the promise and feed that into Grunt's done (i assume you do `done(err)`).

[2015-06-18 15:11] matthewp commented on #263
You can add a test to [this file](https://github.com/stealjs/steal-tools/blob/master/test/test_grunt.js). It uses a simple Grunt mock, I think you'd have to add [error handling here](https://github.com/stealjs/steal-tools/blob/master/test/test_grunt.js#L26) to make the test work. Ping me if you need some help.

[2015-06-18 18:01] whitecolor commented on #261
Haven't you tried?

[2015-06-18 20:45] matthewp commented on #261
I just did, I do not get errors when looking at /packed/index.html but I do see the double loading. That's caused because there is only 1 define in the bundle, so we should be able to fix that.

[2015-06-19 09:01] whitecolor commented on #261
Well I think this error are due double loading.

[2015-06-19 12:37] olegstepura commented on #198
Relative paths may solve an issue. Maybe event better (in terms of used bytes) to just use a hash of path

[2015-06-21 05:53] whitecolor opened #265 "StealJS: extract the libries while build to separate bundle"
As I didn't get the anwser on stack oveflow posting the question here.

I want to separate libraries that do not change often (like can, jquery) from app code while build.
Is it possible to configure steal build to extract such modules into separate bundle?

its about production build, currently steal-tools geneartes for me a huge main bundle, though most modules are loaded progressively. main bun

[2015-06-22 02:02] matthewp commented on #265
In 0.11.p-pre.0 there is a new side bundle feature that sounds like what you want. In meta config set a module as `sideBundle: true`

[2015-06-22 04:05] justinbmeyer opened #266 "stealTool.export resolve with graph and other data"
It would be nice if export provided the graph and other useful info.

[2015-06-30 20:46] #263 closed

[2015-07-06 16:20] ilyavf commented on #205
Used [here](https://github.com/stealjs/steal-tools/blob/master/lib/build/transform.js#L123)

[2015-07-19 19:50] matthewp opened #273 "Add export to the cli"
It would be nice if you ran `steal-tools export` it ran this by default:

[code]

This way you could add to your npm scripts:

[code]

And avoid creating a build.js script for every project.  I've created a lot of these scripts recently.

[2015-07-19 19:59] matthewp commented on #273
This would also make it easier to sell StealTools export since it's just adding a dependency and a script at that point.

[2015-07-22 19:40] ekvilon opened #274 "Production build with canjs and jquery dependencies doesn't work in Safari and bundled malformed"
My test application uses canjs and jquery including stache template.
Test repo is https://github.com/ekvilon/steal-test. Just run ```npm i -g gulp```, ```bower i```, ```npm i``` and then you can build project with ```gulp prod``` and test in browser ```index-dist.html``` using ```gulp prod-connect```

* In Safari browser (I had tested on Windows in Safari 5.1.7, on iPad Air 2, Mac OS X) scripts do

[2015-07-22 19:50] justinbmeyer commented on #274
I'm confused.  What error are you reporting?  That you have to add a config or something else?

[2015-07-22 19:51] justinbmeyer commented on #274
Btw, it's convention to name your templates with `.stache`.  This is why you have to add the `hbs` config.

[2015-07-22 19:56] isadovskiy commented on #274
@justinbmeyer, so we compiled the JS bundle and it work fine in FF, Chrome and IE. But not in Safari. In Safari we got a number of different issues, listed above. We will deploy the compiled example shortly.

We actually run into several issues:

- two jQuery instances are bundled inside our JS file (one with 'jquery/jquery' alias and another one - with 'jquery'). In our actual app we are using 3-

[2015-07-22 19:59] isadovskiy commented on #274
Another issue with Safari is ext configuration with system plugins. Actually we have Handlebars templates, which we are going to re-use both on nodeJS back-end and in the browser as run-time Stache templates. So we would like to keep .hbs extension. Again, this weird issue happens just in Safari.

[2015-07-22 20:02] isadovskiy commented on #274
The way we are trying to have everything up is Bower+StealJS+CanJS. However we did not find documentation how to configure this stack. So we also looking for advice - if our system config in bower.json is correct.

[2015-07-22 20:14] justinbmeyer commented on #274
@matthewp please correct me if I'm wrong, but shouldn't their be a map of `jquery/jquery` to `jquery`?  That should hopefully fix your double jquery problem.

[2015-07-22 20:15] isadovskiy commented on #274
We tried, but it did not work for us.

[2015-07-22 20:15] ekvilon commented on #274
@justinbmeyer I just deployed sample to http://ekvilon.github.io/steal-test/. In Safari you should get errors in the console.

[2015-07-22 20:15] matthewp commented on #274
you need a map and a paths.  map jquery/jquery to jquery and add a paths for jquery.

[2015-07-22 20:16] matthewp commented on #274
I'm not sure [what this is about](https://github.com/ekvilon/steal-test/blob/master/Gulpfile.js#L17) but I bet it has a lot to do with your issues.  The build is meant to be a standalone thing, it creates a main bundle itself, you don't have to create one as well.

[2015-07-22 20:25] ekvilon commented on #274
@matthewp Just did it as you adviced in other sample http://ekvilon.github.io/steal-test/index-fix.html.

[2015-07-22 20:25] ekvilon commented on #274
In Safari is not working.

[2015-07-22 20:29] ekvilon commented on #274
Used system config in bower.json:
[code]

[2015-07-22 20:41] isadovskiy commented on #274
So our initial expectation also was the config about should work and we originally tried to configure steal in this way. However it causes 2 issues in *specifically* Safari:

1. Adding "map" section above causes "Error loading "jquery/jquery" from "all" at http://ekvilon.github.io/steal-test/dists/all.js" error

2. Having custom "ext" in system config: "Error loading "src/templates/hello/main.hbs!

[2015-07-23 00:04] ekvilon commented on #274
Samples were updated and refactored to visualize troubles better.

[2015-07-23 09:07] isadovskiy commented on #274
@matthewp, please let us know if you were able to reproduce the issue in Safari.

1. http://ekvilon.github.io/steal-test/index.html There are two issues here:
 - Safari ignores ext: {hbs: 'can/view/stache/system'} section from bower.json and it causes http://take.ms/QTLUl
 - jQuery is included twice

2. http://ekvilon.github.io/steal-test/index-fix.html This is the try to eliminate the issue with

[2015-07-23 09:08] isadovskiy commented on #274
BTW, just noticed one thing. If I reset Safari's cache, everything works fine. But on all subsequent refreshes it fails with errors I mentioned above.

[2015-07-23 12:15] matthewp commented on #274
Hey, really sorry to hear you guys are having issues.  I sent a PR to your repo showing the build working.  Never [do this](https://github.com/ekvilon/steal-test/blob/master/src/index-dist.html#L15) in a production file.  It will attempt to load that part before the rest of your app is really ready.

[2015-07-23 15:36] isadovskiy commented on #274
Thanks for the reply, @matthewp. however what we actually building is site, not SPA. So we do not have single (main) entry point actually.

All we have is a number of modules (blocks) composed the page. They are added to page dunamically on BE. So basically every module is drovven by its own can.Control instance. And they are also configured from the page.

It means, we can not use main="src/scrip

[2015-07-23 16:00] matthewp commented on #274
You can use `steal.import('modules')` in place of `steal('modules')`. It returns a promise.

However, steal-tools has a multi-app build for just this purpose. It will build sites that have multiple apps in a way that dependencies are shared between each page. This is explained [here](http://stealjs.com/docs/steal-tools.build.html#section_Multi_pageuse).

[2015-07-23 21:17] isadovskiy commented on #274
Thank's for the advice, @matthewp. However still not clear how it could be helpful in our case..

Lets say, we have two independent modules: `modules/module1` and `modules/modules2`. They are expected to appear on the same page so i'm bundling them into all.js.

Now I want to load all.js on my page, import the modules from and instantiate them in necessary places on HTML page.

So i still need to

[2015-07-23 21:21] isadovskiy commented on #274
I also looking at the all.js and I just see a list of `define (moduleId, dependencies, callback)` calls. So looks like all this calls should take place synchronously once bundled JS file is loaded. So wondering, why steal.import() called from <body> can't find defined module? Since looks like they all are defined in sync way...

[2015-07-23 21:37] daffl opened #275 "Live reload does not work for app.js in standard DoneJS setup"
I'm adding `live-reload` to the DoneJS generator. It looks like it works in most cases but not when updating an `app.js` like:

[code]

That's loaded into the template like

[code]

When changing `message` in `app.js` live reload reports `src/app` reloading but does not re-evaluate `index.stache`.

[2015-07-23 22:18] matthewp commented on #274
Your different pages have different entry points, right?  You should be able to build like this:

[code]

And then in your page1 index.html do:

[code]

[2015-07-23 22:23] isadovskiy commented on #274
Well, not exactly. We have multiple mains within the same page. Basically, we can have multiple entry points within the same page - each one for the completely independent module, which all works separately and knows nothing about each other.

Like multiple applications on the same page, which should be launched separately. But we want to bundle them together since they will be on the same page.

[2015-07-23 22:26] matthewp commented on #274
Ok, so create a module which just imports all of those:

### main.js
[code]

Can't you do it this way?

[2015-07-23 22:31] isadovskiy commented on #274
We can do it. It will produce single bundle file contained all modules.

Now we need to obtain necessary module from the bundle to instantiate it. How to do it? We could need multiple instances of the different modules from the bundle on the page. And they all should be instantiated inline in HTML.

[2015-07-23 22:33] matthewp commented on #274
I don't understand, why can't you instantiate them in the `main.js` I just suggested you create?

Why?  You can instantiate use `steal.import` as I suggested before if you really want, but I don't understand the reason why they need to be instantiated in HTML and not in a JavaScript main.

[2015-07-23 22:39] isadovskiy commented on #274
The issue is about our architecture. HTML page is assembled on server from the number of the available modules. Each module should be included into the page one or many times - depends on server. It's HTML piece + script (can.Control) which should wrap/work with this piece of HTML.

So we don't know ahead how many instantiations we will need so can't put them into main. And modules are rather smal

[2015-07-23 22:41] matthewp commented on #274
Ok, in that case replace this:

[code]

with this:

[code]

[2015-07-23 22:44] isadovskiy commented on #274
We tried but it fails in Safari.

[2015-07-23 22:53] isadovskiy commented on #274
We tried, but it fails in Safari.

However we bundled independent modules into single JS file in a little bit tricky way. We tried to make to automatic: scanned folders, found JS files and output define() statements for into temporary file, which contained dependencies of all modules we have. This is what our code did (https://github.com/matthewp/steal-test/commit/aa4453cb3e02bb4d28f18ab5b09c35224

[2015-07-23 23:05] matthewp commented on #274
Can you link to the code using steal.import?

[2015-07-23 23:05] isadovskiy commented on #274
Will do and provide an example for you to review.

[2015-08-06 09:20] isadovskiy commented on #274
@matthewp, sorry for the long silence. using `steal.import()` actually fixes all our issues. Sorry for bothering you for a so long time. I think this ticket should be closed.

Just one additional question. According to our workflow, we need to pack multiple individual independent modules into the single JS file. The amount of modules can vary and we just want to pack all JS files, which are under

[2015-08-06 12:10] matthewp commented on #274
Cool, glad it worked out. if you could create a new issue about this "include" option (i'm not familiar) we can discuss it there.  Your workflow is a bit different from what we do.

[2015-08-06 12:10] #274 closed

[2015-08-06 20:08] matthewp commented on #275
Are you sure that you added "live-reload" to the configDependencies? I tried this earlier today and it worked.

[2015-08-06 20:08] matthewp commented on #265
@whitecolor does this fit your needs?

[2015-08-06 20:09] matthewp opened #284 "Build not naming bundles correctly when using directories.lib"
I'm seeing a main bundle like `dguide@0.js` which is wrong.

[2015-08-06 20:57] matthewp commented on #284
I think the combination that causes this is an npm name and a plugin like `foo@1.0.0#main!plugin

[2015-08-07 12:26] whitecolor commented on #265
I will try and report.

[2015-08-09 10:53] whitecolor commented on #275
@matthewp hereis a great talks about hot module reloading, if you haven't seen you should.
http://www.youtube.com/watch?v=j-kj2qwJa_E
https://www.youtube.com/watch?v=xsSnOQynTHs

[2015-08-09 16:08] whitecolor commented on #265
I just added this option. But nothing happend. What should? How it should define what to split out to side bundle?

[2015-08-10 12:42] matthewp commented on #265
This should go in your config (or the system object in steal-tools)

[code]

Let me know if this is what you did and it didn't work. Should have created a bundle just for `other/module`.

[2015-08-10 13:48] matthewp commented on #275
Thanks!  I've used Figwheel a bit and like it. I like how you get an indicator when a reload happens, we might need something like that, it gives confidence that you're looking at the latest code.

[2015-08-10 14:52] matthewp commented on #262
Thanks, I agree that this is useful.  It's actually available on `buildResult.configuration.options`.  Although `configuration` is not currently documented; it should be, this is not going to be removed.

[2015-08-10 22:02] whitecolor commented on #142
How is it going? Not ready yet?

[2015-08-10 22:50] matthewp commented on #142
Internally it's all streams, this is what `stealTools.build` is: https://github.com/stealjs/steal-tools/blob/master/lib/build/multi.js#L14

I think for your use case is you don't want the bundles to be written, right?  In that case the *easy* thing would be to simply add an option writeBundles: false or something and return the `buildStream`.

[2015-08-10 22:53] whitecolor commented on #142
Right, just to have only in memory result.

[2015-08-10 22:56] matthewp commented on #142
Yes, this would be very simple with the way the code works now.  I would add these lines: https://github.com/stealjs/steal-tools/blob/master/lib/build/multi.js#L13-L16

to another file, multi_stream.js maybe, and have it return the buildStream. and this could be `stealTools. createBuildStream` as this issue proposes.

[2015-08-11 22:54] Globegitter commented on #209
@matthewp just ran into this, so if you can give me any pointers I would be happy to fix (ideally with using the babelOptions defined in the current project).

[2015-08-11 22:56] matthewp commented on #209
Probably if you have this change: https://github.com/stealjs/steal-tools/pull/279  you'll be fine. The problem is that our Traceur is a little outdated, just need to merge that PR and make a release.  I just can't do it this week.

[2015-08-11 23:13] matthewp commented on #209
But as far as this bug, https://github.com/stealjs/steal-tools/blob/master/lib/load/get_es_module_imports.js#L48  we need a version of this module that works with babel.

[2015-08-11 23:13] matthewp commented on #284
fixed by #285

[2015-08-11 23:13] #284 closed

[2015-08-13 03:03] duongphuhiep opened #287 "Error when install steal-tools on Windows"
It's quite scary when we do a `npm install steal-tools` on Windows

- `fsevents` is not something for Windows
- `bufferutil`, `utf-8-validate`... don't work with the latest python on my PC
- other modules require the old nodejs 0.8.x

I don't know what is the impact in the future.  For now it is installed and works with the two sample projects: [quick-start](https://github.com/stealjs/quick-start)

[2015-08-15 22:01] matthewp commented on #275
@daffl please reopen in donejs if this is ever still a problem, several bug fixes related to live-reload in a donejs setup have happened.

[2015-08-15 22:01] #275 closed

[2015-08-19 21:34] whitecolor opened #288 "0.11.pre8 error reading package.json"
steal - error loading @config. [TypeError: Error loading "package.json!npm" at file:/root/app/source/client/package.json
Cannot read property 'version' of undefined]

[2015-08-19 22:03] matthewp commented on #288
can you post the full stack trace.

[2015-08-26 13:17] matthewp opened #289 "Developing on Windows"
Need to document this, using this issue for my notes.

[2015-08-26 13:18] matthewp commented on #289
Need to install Python 2.x, can use [Chocolatey](https://chocolatey.org/) for that:

[code]

[2015-08-26 13:38] matthewp commented on #289
Need to install Visual Studio 2013 Express:

[code]

[2015-08-26 17:54] matthewp opened #292 "Test with several versions of Node"
0.10, 0.12, and iojs

[2015-08-26 18:08] matthewp commented on #292
This might not be possible because of Zombie (still looking into it).  Here's the problem:

Zombie Version | Node Version
------ | ---------
2.5.1 | 0.10.x
3.x | ?
4.x | iojs

[2015-08-26 18:25] matthewp commented on #292
With zombie 3.x I'm able to get tests to pass in Node 0.10 and Node 0.12.

 If we could specify a different version of Zombie for iojs we could probably get tests to pass there, but from my research I don't think it's possible to specify different dependency versions based on different Node versions.

[2015-08-27 17:08] matthewp commented on #292
Closed by #290

[2015-08-27 17:08] #292 closed

[2015-08-31 18:01] matthewp commented on #287
Thanks, these are errors for installing `ws` which is used for live-reload. This will require Python 2.7.x.  I can move this into an optionalDependency so the rest of steal-tools will still work if you don't have the right version of Python.

[2015-09-01 12:18] matthewp opened #295 "Use envs configuration"
When doing the build we need to set System.env = "build-development";

[2015-09-02 13:49] matthewp commented on #295
Closed by #296

[2015-09-02 13:49] #295 closed

[2015-09-04 19:45] matthewp opened #298 "Plugin dependencies of the main are not part of the main bundle"
I've noticed that often plugins like `done-css` and `done-component` will be put into a bundle other than the main, even though they are dependencies of the main. This will cause too many bundles to be loaded.

I think the algorithm should favor putting plugins (this is just the empty `System.set("done-css", {})`) in the main bundle to prevent unnecessary extra requests.

[2015-09-04 21:39] justinbmeyer commented on #298
Why wouldn't this happen automatically by the algorithm?

Sent from my iPhone

[2015-09-05 21:49] isadovskiy opened #299 "Option to bundle independent modules into single JS file"
Right now, if multiple modules are specified in http://stealjs.com/docs/System.main.html, Steal Tools will handle them on wise way and output multiple JS files with shared dependencies.

We need a bit different workflow for our site build. We have a big amount of small individual, independent modules, which are used across the pages. Since content of the page is controlled via CMS Admin UI (author

[2015-09-05 21:58] justinbmeyer commented on #299
Can you do this already by specifying all the widget modules that may load and specifying a bundle depth of 2?

Sent from my iPhone

[2015-09-05 22:08] isadovskiy commented on #299
@justinbmeyer, sorry, but I'm just not clear how specifying bundling depth to 2 will help here.

Lets image I have module1.js, module2.js and module3.js and they are completely independent.

My understanding is having `main: ['module1', 'module2', 'module3']` will produce 3 separate JS files, while I would like to have the single one, having all 3 listed modules (and all their dependencies) inside

[2015-09-05 22:26] justinbmeyer commented on #299
Can you create another module that imports them and set that in bundles. It will likely group them together.

Sent from my iPhone

[2015-09-05 22:32] isadovskiy commented on #299
Yes, this is how it works for us now. But, as I explained above, we would like to make it automatic (since maintainig such file, indexed all modules, manually is not a goof idea because of huge amount of modules we have and they are constantly added). Right now we issues it with gulp script and temporary index module js file creation. But I would like to suppress this operation with creating/remov

[2015-09-05 22:34] isadovskiy commented on #299
If you don't think it makes sense to have such mode as a part of stealjs, you can close this issue. Since temporary file generation in general works for us. Just looking for more elegant way to work this around.

[2015-09-05 23:07] justinbmeyer commented on #299
I wonder if canjs's download builder would be a good solution. Build your bundles and cache them on the fly.

Sent from my iPhone

[2015-09-05 23:10] isadovskiy commented on #299
Again, not sure what do you mean... Modules I'm talking about are our own JS modules, built on top can.Control. Can't understand, how canjs's download builder could help...

[2015-09-05 23:39] justinbmeyer commented on #299
Canjs's download builder could dynamically build the modules of your app. It's designed to work with other projects. It's more than just the checkboxes you see. There's an underlying API.

Sent from my iPhone

[2015-09-06 07:27] isadovskiy commented on #299
Thanks for the tip! I'll take a look.

[2015-09-06 16:46] isadovskiy commented on #299
@justinbmeyer, did you mean https://github.com/bitovi/steal-tools-builder ?

[2015-09-08 19:10] isadovskiy commented on #299
@justinbmeyer,could you confirm, at this repo I should look for download builder? Also do you have documentation or samples how it should be used?

[2015-09-08 20:03] isadovskiy commented on #299
BTW, doesn't http://stealjs.com/docs/steal-tools.export.html can write multiple independent modules into the same file?

[2015-09-09 01:46] justinbmeyer commented on #299
Ping me on gitter tomorrow.

Sent from my iPhone

[2015-09-09 20:25] #289 closed

[2015-09-18 13:18] matthewp commented on #253
This is done.

[2015-09-18 13:18] #253 closed

[2015-09-18 13:19] matthewp commented on #209
This is in 0.12.0-pre now.

[2015-09-18 13:19] #209 closed

[2015-09-19 01:33] justinbmeyer opened #310 "UTF-8 to Unicode problems"
Seems like some UTF8 is being written out as unicode:

https://gitter.im/stealjs/steal?at=55fa43f30ed44a00046ea2d8

[2015-09-30 13:20] matthewp opened #313 "graph/recycle needs to check if new bundles created"
graph/recycle has an optimization where it only reloads the dependency graph if a module's dependencies have changed.  If the dependencies have not changed it only modifies the graph in-place, updating the module's source.  But in the case of dynamic imports we need to do a full graph reload.

[2015-10-01 13:29] matthewp commented on #313
Fixed by #314

[2015-10-01 13:29] #313 closed

[2015-10-01 13:37] matthewp commented on #310
I don't understand character encoding all that well. We do write out files as utf8, should we not be doing that? If we don't will they be converted to the correct format? I wonder how this can be tested...

[2015-10-01 13:38] matthewp commented on #310
@kishoremvrs since you discovered this bug any assistance you can provide would be helpful.  Like perhaps an example input file with chinese characters.

[2015-10-01 13:42] matthewp opened #315 "Create a test showing that meta deps for globals are added to AMD define array"
This should go into master.

[2015-10-01 13:42] matthewp commented on #315
Actually this is a transpile issue.

[2015-10-01 13:42] #315 closed

[2015-10-03 07:48] whitecolor opened #317 "Something breaks my build in 0.11 (vs 0.11.0-pre.8 that works)"
My build is broken after 0.11 (and in later version), built app is not loading, the screenshot of :
![image](https://cloud.githubusercontent.com/assets/736697/10261956/8d6b38e8-69cc-11e5-83ab-aae7760c23f6.png)

currently I use 0.11.0-pre.8 - build works there all right.

Not sure how I can be more specific.

[2015-10-03 15:07] matthewp commented on #317
Do you have deps config for bootstrap.

[2015-10-03 16:05] whitecolor commented on #317
no, should, I? Why did it work in prior version?

[2015-10-03 16:24] matthewp commented on #317
Not sure why previously, if you can provide a sample I can take a look.

[2015-10-03 16:28] matthewp commented on #317
This should be easy to debug, just do a build with the working version and then compare the output (the bootstrap part) to 0.11'see output.

[2015-10-04 15:50] matthewp commented on #78
This should work now, npm sets the `main` in config.

[2015-10-04 15:50] #78 closed

[2015-10-04 15:52] matthewp commented on #77
We have a test of multiple builds running at once: https://github.com/stealjs/steal-tools/blob/eadbbe9014f83ba95bd10910c0049a404c68cee1/test/test.js#L2043

[2015-10-04 15:52] #77 closed

[2015-10-04 15:55] matthewp commented on #92
We have bundleAssets now when I think solves this need, can we close this?

[2015-10-04 15:58] matthewp commented on #139
This is fixed. Here's the test: https://github.com/stealjs/steal-tools/blob/ff9fd2f299343fd3f68c8184fd8df49c5b554fb1/test/grunt_tasks/steal_build.js#L28

[2015-10-04 15:58] #139 closed

[2015-10-04 16:00] matthewp commented on #140
We have `bundleAssets` now which will move assets into your `dist/` and rewrite css to point to those assets. You use it like this:

[code]

[2015-10-04 17:59] whitecolor commented on #140
@matthewp does it bundle images/fonts?

[2015-10-04 18:05] matthewp commented on #140
Those that are in css get bundled automatically. You can also specify a `glob` other assets.

[2015-10-04 21:18] whitecolor commented on #140
@matthewp I've looked at the docs, think they should be more elaborative )

[2015-10-04 22:20] matthewp commented on #140
Fair enough, let's reopen this to improve the docs.

[2015-10-04 22:20] matthewp commented on #140
Here are the bundleAssets options:  http://stealjs.com/docs/steal-tools.BundleAssetsOptions.html

Probably the place to add some examples.

[2015-10-04 22:23] matthewp commented on #140
## Infer assets from css `url()`:

[code]

## Bundle assets from a glob

In this example in addition to inferring assets from css `url()` you can also specify a glob.

[code]

Additional a copy of `steal.production.js` will be moved to `dist/node_modules/steal/steal.production.js`.

[2015-10-07 22:22] matthewp commented on #288
Please reopen if you have more info.

[2015-10-07 22:22] #288 closed

[2015-10-07 22:47] matthewp commented on #298
There's a bug. Whatever code set's the node's bundles is not appending so these plugins are not treated as dependencies of the main.

[2015-10-07 22:47] matthewp commented on #298
I'm going to look into this now.

[2015-10-08 12:40] #298 closed

[2015-10-08 15:36] matthewp opened #319 "Pass babelOptions and traceurOptions to transpile"
Branch from minor for this.

[2015-10-12 06:09] marshallswain opened #322 "Better error message if package.json isn't ready for live-reload."
I accidentally tried to run `steal-tools live-reload` in my Feathers app's root instead of the `public` folder.  Below is the error it gave me.  It took me a while to figure out that I was an idiot.  :)  I haven't checked what it's trying to split, yet, but it would be nice if it would give me a hint at what I'm doing wrong.

[code]

[2015-10-14 15:14] #317 closed

[2015-10-14 16:21] whitecolor opened #323 "Problem with circular deps in built version"
So I have two modules

models/user.js:
[code]

models/purchase.js:
[code]

It all works in dev version, but after build

in say Purchase module User is imported ok, but in User imported Purchase is empty object {}

What can be the reason?

[2015-10-14 16:30] matthewp commented on #323
ES6 and AMD have different ways to do circular references, that could be the reason. Changing those to non-es6 modules might fix it. If this is the reason (not positive) we could have an option to transpile to the `register` format that I believe does circular refs the es6 way.

[2015-10-14 16:41] whitecolor commented on #323
Well I don't want to get rid of ES6 modules, currently as workaround I got rid of circular deps, but that is not a solution.

[2015-10-14 16:49] matthewp commented on #323
Yeah, I was suggested it as a workaround not a solution. Need a test to see what the problem is.

[2015-10-14 16:53] matthewp commented on #323
Another solution would be to detect the circular references and fix them when we transpile.

This might work as a workaround for you:

[code]

[2015-10-14 16:54] whitecolor commented on #323
Actually I could n't reproduce it on small sample such example with ES6 modules seem to work
https://github.com/ModuleLoader/es6-module-loader/wiki/Circular-References-&-Bindings

[2015-10-16 01:25] justinbmeyer opened #324 "module imports and the global AMD shim"
Something's happening where modules are written as:

[code]

This break if there is a global `window.module` object as is the case in CanJS's dists.

Why are modules written out this way now?  If there's a good reason, then we should make 'module' always provide a `module = { exports: {} };` type object and not whatever `window.module` is.

[2015-10-16 01:29] justinbmeyer commented on #324
Ah, the comment: https://github.com/stealjs/steal-tools/blob/master/lib/bundle/add_global_shim.js#L76

[code]

This is probably babel doing the transpile.  However, I'm not sure why the code only puts in `exports` or `module` type objects if they weren't found:

[code]

I think the best fix for this is to always add a temporary `module` and `exports` to modules.

[2015-10-19 16:46] whitecolor commented on #323
BTW, I belive I experienced issues with circular deps with CJS too, so have to get rid of them.

[2015-10-20 19:25] W3Max commented on #287
I have python 2.7 installed and here are the errors I get when I try to install steal-tools on windows:

    C:\Users\Maxime>npm install -g steal-tools
    npm WARN engine steal-tools@0.11.2: wanted: {"node":"0.10.x - 0.12.x || ^3.0.0"} (current: {"node":"4.1.0","npm":"3.3.4"})
    npm WARN engine steal-tools@0.11.2: wanted: {"node":"0.10.x - 0.12.x || ^3.0.0"} (current: {"node":"4.1.0","npm":"3.3

[2015-10-20 20:51] #145 closed

[2015-10-20 20:51] #61 closed

[2015-10-20 20:52] matthewp commented on #287
@W3Max I pushed to stealjs/quick-start upgrading to the latest version of Steal. Try with that and let me know.

[2015-10-20 23:06] W3Max commented on #287
@matthewp thanks for your help but now I have the same problem as when I try to install steal-tools:

    npm WARN install Couldn't install optional dependency: Unsupported

    C:\Users\Maxime\Desktop\quick-start\node_modules\bufferutil>if not defined npm_config_node_gyp (node "C:\Users\Maxime\AppData\Roaming\npm\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-    gyp\bin\node-gyp.js"

[2015-10-20 23:50] matthewp commented on #287
Install errors doesn't mean it's not working.  So running the build fails?

[2015-10-21 00:01] W3Max commented on #287
My bad... all those errors and still it works.

[2015-11-12 12:46] whitecolor opened #328 "Better Transpiling error reporting"
I've have an error on such case:
There was a module that was actually CJS (it used `require` for importing modules) but inside the code I inaccrately used ES6 style strings using ` character. An it worked in dev mode. But could not build.

It would be nicier if such errors could be indefntified more precisely in thrown error report (at least module where error has been detected).

The error stack,

[2015-11-12 14:13] matthewp commented on #328
If you can provide a small sample I can create a test, it happens just if you do something like:

[code]

?

[2015-11-12 14:20] matthewp commented on #328
I was able to recreate it, going to make sure there's a better error here.

[2015-11-12 14:27] whitecolor commented on #328
yes right)

[2015-11-12 14:41] matthewp commented on #328
So I created #329 which will include the name of the module that failed to transpile.

Also I'm going to look into seeing if we are using an old version of esprima, it's possible that they support the back-tick strings now.

[2015-11-12 15:04] matthewp commented on #328
Ok, I also created https://github.com/stealjs/transpile/pull/49 which will make template strings work, once those tests pass I'll merge and do a new patch release of transpile, then merge #329 and do a patch release of steal-tools. Thanks for reporting.

[2015-11-12 15:33] #328 closed

[2015-11-12 15:34] matthewp commented on #328
I've released a transpile 0.9.3 which now works with template strings. Also released a steal-tools 0.12.2 which has better error reporting when there is a transpile error.  Thanks for submitting the issue.

[2015-11-12 16:15] whitecolor commented on #125
Any progress on this one?

[2015-11-12 16:22] matthewp commented on #125
No, hasn't been picked up by anyone yet.

[2015-11-12 17:03] matthewp commented on #328
@whitecolor It turns out that Uglify doesn't support template strings currently: https://github.com/mishoo/UglifyJS2/issues/448

Which means this won't work if you plan on minifying our code :-1: So best option if you really need that feature is to use babel/es6.

[2015-11-25 21:46] whitecolor opened #331 "Built version System.env window-development"
0.12, app built version System.env `window-development`. Why? Before it was `production` in built versions.

[2015-11-25 21:53] justinbmeyer commented on #331
what is the question?

[2015-11-25 21:55] whitecolor commented on #331
Shouldn't it be `production`?

[2015-11-25 23:32] justinbmeyer commented on #331
Env wasn't `production` previously, it was built in `development`, but ran in `production`.

Now, there are multiple environments an app might want to run in ... for example `node` and `window`.  Where `node` means, it's running in NodeJS, and `window` means it is running in browser-like environment.

So `window-development` means load the app as it would load in a browser environment in dev mode.

[2015-11-26 06:12] whitecolor commented on #331
Well, in earlier steal versions built package always had `System.env == 'production'`.

[2015-12-06 12:57] pYr0x opened #334 "steal bundlesPath do not work as expected"
as the documentation says,

my build.js looks like
[code]

in the bundled file the system path was set by steal-tools to:
[code]
after the build, the css file is not loading -> wrong path

***Note: the app is located at http://localhost/mycanjsapp/***

i tried:

1. ```<script src='node_modules/steal/steal.js' env="production" bundles-path="/mycanjsapp/javascript/dist" main="javascript/web/index/in

[2015-12-06 15:18] matthewp commented on #334
The bundlesPath should be relative to the page.  So in your script tag use `<script src='node_modules/steal/steal.js' env="production" bundles-path="javascript/dist" main="javascript/web/index/index"></script>`.  Let me know if that works, might need to update the docs to make it clearer.

[2015-12-06 15:27] pYr0x commented on #334
is not working...
![](http://i.snag.gy/PeKUO.jpg)
the bundled file still overwrites the paths that are set via attributes

[code]

[2015-12-06 15:33] matthewp commented on #334
I'm a little confused, what's different about your app vs. this test? https://github.com/stealjs/steal-tools/blob/master/test/test.js#L584

and https://github.com/stealjs/steal-tools/blob/master/test/other_bundle/bundle.html

[2015-12-06 15:38] pYr0x commented on #334
maybe, i installed steal-tools globaly?

[2015-12-06 15:48] matthewp commented on #334
No, I wouldn't think that's it... maybe we can pair on Wednesday or Thursday and figure it out together.

[2015-12-06 15:49] pYr0x commented on #334
ok...

[2015-12-07 00:24] whitecolor commented on #199
@justinbmeyer @matthewp
Not to create a separate issue or something, ask here:

[code]
Is it possible somehow to get 3 bundles with steal:

bundle.js // app JS bundle
bundle.en.js // bundle that contain comp1/lang/en.js & comp2/lang/en.js
bundle.es.js // bundle that contain comp1/lang/es.js & comp2/lang/es.js

Something like that.

[2015-12-07 16:37] whitecolor commented on #334
How to get rid of such paths in build files?
[code]
Steal conventions still are not intutive and wierd.

[2015-12-07 17:35] matthewp commented on #334
I think the mistake we made is making bundlesPath, the client side config (which is the path from the root to where the bundles are located) the same as bundlesPath, the build config (which is the path where to write out the bundles).

The paths that get written should be the root + path to where the bundles are written.

This is a confusing part of Steal so we should definitely fix it.  How do yo

[2015-12-07 19:14] justinbmeyer commented on #334
I think @whitecolor has brought this up before in a previous issue.

The big thing to remember is that paths need to be transportable between client and server.  So most things need to be relative.  We don't know that a server's files are at: "/user/name/dev/project" and those files get hosted at: "localhost:8080/projects/project" in dev and "domain.com/" in production.

So, `bundlesPath` is a pat

[2015-12-07 21:11] matthewp commented on #334
It looks like we are reversing it into a full path, just incorrectly. @pYr0x's example is turning `__dirname + "/javascript/dist"` into `System.paths["bundles/*"] = "../../../../javascript/dist/*.js";` and I'm not sure why.

We should either throw when a full path is provided to steal-tools (with a good warning to make it relative to the baseUrl) or we should properly fix the paths.

[2015-12-07 21:18] matthewp commented on #331
This is related to the new `envs` config [shown here](http://stealjs.com/docs/System.envs.html).  This provides a way to have config that is only applied in certain environments. This was needed when building DoneJS and realizing there is different needs on the server, client, and potentially places like Cordova and NW.js.

There are new methods you can use [System.isEnv](http://stealjs.com/docs/S

[2015-12-07 21:27] whitecolor commented on #334
can you explain what this paths meant to mean?
[code]
Are this path to locate other bundle files from parent bundle?

Then this:
[code]
should be enough? No?

[2015-12-07 21:31] matthewp commented on #334
Those paths are a bug.  Here's how it should work. If your app is located at:

[code]

And you set the bundles to `javascript/dist/bundles` with:

[code]

Then it will find the bundles at:

[code]

If you don't set a bundlesPath it would expect to find them at:

[code]

[2015-12-07 21:38] whitecolor commented on #334
Ok, glad to here this. Btw in may hacky solution to all this still problems and shortages (like hashes on file) I removed this paths:
https://github.com/whitecolor/steal-pack-bundles/blob/master/index.js#L194

Any should test differnt `steal.production.js` locations as well and steal bundled.
[code]

And docs should be very clear about that.

[2015-12-07 22:38] justinbmeyer commented on #334
@whitecolor we do test this.  Example: https://github.com/stealjs/steal/blob/master/test/prod-bundlesPath/prod.html

[2015-12-08 04:51] whitecolor commented on #199
@matthewp is it possible to exclude a particual file from being placed into build?

So that if I have some `module.js`:
[code]
builder will use this file while build (and thus include `module1` and `module2`) but will not include code of `module.js` itself?

[2015-12-08 07:13] matthewp commented on #199
You can map it to empty during the build:

[code]

I think you need both of those.

[2015-12-08 13:37] whitecolor opened #335 "Plugin load do not go though fetch in node"
If i'm correct when loading pluign module steal-tools seem just to readFile from fs, to unifiy behaviour with browser it would be right to apply the same set of import stages.

[2015-12-08 13:52] justinbmeyer commented on #199
I've been thinking lately that modules probably aren't the best way. Especially if you want people to be able to change a dropdown and have them change.

I'll share my ideas when I have time later today.

Sent from my iPhone

[2015-12-08 15:21] whitecolor commented on #199
@justinbmeyer interesting to hear.

[2015-12-08 16:06] whitecolor commented on #199
@justinbmeyer interesting to hear.

BTW I've build some quite simple plugin for StealJS that allows to imlement what I wanted

If you have a structure
[code]

Then from component code:
[code]

[2015-12-11 03:46] matthewp commented on #335
It should absolutely be going through fetch. Can you provide a breaking example?

[2015-12-11 03:47] matthewp commented on #324
Why is that the best way? What if there was a `module` module in the registry, you'd want to use that rather than the AMD module.

[2015-12-11 03:48] matthewp commented on #331
Going to close, but feel free to ask more questions if it's unclear.

[2015-12-11 03:48] #331 closed

[2015-12-11 03:50] #299 closed

[2015-12-11 05:14] whitecolor commented on #335
Well, while build, in one of the plugins (which loads first) I patch `System.fetch`:

Os I load `module1!plugin1`, and in plugin1.js I patch `System.fetch`
[code]
After this other modules with other plugins do load. And pugins itself do not go thought this patched version (though modules it self do).

Then other modules like `module2!plugin2`, `module3!plugin2` do load, and they go though patched

[2015-12-14 11:46] isadovskiy commented on #299
@justinbmeyer, @matthewp, so, just to clarify, if there a way to pack two completely independent modules into single bundle? Lets say I want to pack several jquery plugins into separate bundle? Or the only way is to create a master file, which will explicitly lists all plugins as the dependencies?

Also, as a side question, do you have any plan to support something similar to bundle arithmetic fro

[2015-12-15 13:53] matthewp commented on #335
There are multiple loaders during a build, if you want to patch fetch you need to do it for both of them. The best way to get the loader that is loading your code is to use:

[code]

Rather than `System`. `@loader` will be whichever loader is loading that piece of code (for plugins it's the plugin loader.

If you want to interrupt fetch for both I think you'll need to override `loader.fetch` and a

[2015-12-15 13:56] matthewp opened #336 "Mains using directories.lib are not named with the package name"
`mycanjsapp@1.0.0#web/index/index` should be named `bundles/mycanjsapp/web/index/index` but is instead named `bundles/web/index/index`. This works if the main is using a plugin but not if it's a normal JavaScript file for some reason.

[2015-12-15 14:02] matthewp commented on #334
The bundles/* paths overriding what gets set through the script `bundles-path="../path/to/bundles"` config is a bit of a problem.  I think we need to only conditionally add these if not already set.

[2015-12-15 19:33] #334 closed

[2015-12-16 14:16] matthewp commented on #336
Going to defer this bug for now as I'm not sure what to do. If the folder includes the package name this means the user has to include the package name in their production.html main.

[2015-12-16 18:52] matthewp opened #339 "Combined bundles don't have friendly names when using npm names"
When you have bundles like:

[code]

With a shared dependency of "carousel" it will produce a bundle named "myprogapp-myprogapp". Should be "home-category".

[2015-12-16 23:14] justinbmeyer commented on #299
@isadovskiy I think we'll need to talk this out over gitter.  I think there is a way to specify side-bundles.  You probably need another module that explicitly imports all of those plugins as dependencies.  @matthewp would know better.

What do you mean by "bundle arithmetic"? This kinda stuff: https://www.youtube.com/watch?v=C-kM0v9L9UY ?

[2015-12-17 07:51] isadovskiy commented on #299
@justinbmeyer, I'll contact you in gitter.

As for bundle arithmetic, I meant this: https://github.com/systemjs/builder#bundle-arithmetic. Basically, build tool from SystemJS provides rather sophisticated manual control over manual bundling configuration. I know, StealJS main feature is automatic bundles optimization. But due to a number of reasons I need to use manual control over the bundling pr

[2015-12-22 20:34] matthewp opened #341 "Recycling modules should detect virtual module children"
live-reload and --watch mode both have a module, lib/graph/recycle that reuses (recycles) a dependency graph object when a file changes, so that rebuilds are much faster.

One of the optimizations this has is to check if the module's dependencies have changed, and if not there is nothing that needs to be done except replace the source and remove the active source keys.

However, some types of modu

[2015-12-22 20:42] justinbmeyer commented on #341
@matthewp is there a way to follow the virtual modules dependencies?

[2015-12-22 21:21] matthewp commented on #341
What the .component does is this (pseudo code):

[code]

Ideally perhaps it would not call `System.define` but rather keep the sources in a side table and return that source in a fetch hook.  So calling translate would not have loader side-effects.

Then perhaps there could be a mechanism to check the virtual modules dependencies. That would probably be the ideal solution so that you could retain

[2015-12-22 22:15] matthewp commented on #341
What do you think? That would be more work to implement but ultimately would mean .components could reload faster. I'm a little torn between doing this or doing it the easier way that will require doing a trace for the module (which always means reloading the config).  Maybe i'll try the easier way and see how slow it is.

[2015-12-23 00:17] justinbmeyer commented on #341
I'd prefer not to add some other `unrecyclable` type option to remember if we can avoid it.

[2015-12-23 20:25] matthewp opened #342 "Reorganize tests"
The tests file is becoming unwieldy at 2600 LOC. I'd like to break it apart by functionality. Probably:

* multibuild_test.js
* dependencygraph_test.js
* export_test.js

like that. I'll leave the tests folders as is right now since some of them are used by more than one type of test.

[2015-12-24 14:00] #342 closed

[2015-12-24 14:35] matthewp commented on #341
The method I'm working on is to trap calls to System.define and check those for new dependencies in the same way we check normal modules.

[2015-12-28 16:24] matthewp commented on #341
#344 Fixes this without any `unrecyclable` option or anything like that. We can detect virtual modules by overwriting System.define and then diff them in the same way we diff normal modules.

[2015-12-28 16:30] #341 closed

[2016-01-04 23:39] pYr0x commented on #336
@matthewp when do you have time to talk about the mycanjsapp and make a build together? :)

[2016-01-09 10:15] whitecolor opened #350 "Config included in production build."
I see that steal-tools include in main bundle all the package.json with resolved dependendcies and other extended stuff with paths etc. Does it even need this?

[2016-01-09 10:20] whitecolor commented on #265
It works fine.

[2016-01-09 10:20] #265 closed

[2016-01-09 10:20] whitecolor opened #351 "Combined sideBundle"
`sideBundles` option which is:
[code]
It will produce `a` and `b` bundles separate from main and other bundles.
It is fine. BTW If I'm correct it is not described in steal docs, so user may not know about it.

But is there a way to combile multiple packages in one side bundle (`a` with `b` in one `c` bundle)?
Another thing that it would be possible to bundle modules using wilcard `a/*`

[2016-01-09 11:58] whitecolor commented on #335
Ok it seem to be totally fine if to use `@loader` on client and in node build.

[2016-01-09 11:58] #335 closed

[2016-01-09 16:10] justinbmeyer commented on #350
It needs it for the included dependencies. You can use npmIgnore to remove the ones you don't need.

Sent from my iPhone

[2016-01-09 16:25] whitecolor commented on #350
it includes sytem paths, for example:
[code]
So it makes builds of the same code base different on different machines.
I think such things should be removed.

[2016-01-12 01:58] whitecolor opened #352 "import {some} from 'module'"
Is this syntax unsupported
[code]

Though this works:
[code]

because of babel5, not babel6? Or its a bug?

This relates to `steal` of cource, not `steal-tools`.

[2016-01-12 03:17] matthewp commented on #352
No, that syntax is supported. That module only has a single export: https://github.com/cyclejs/cycle-dom/blob/master/src/cycle-dom.js#L122

I believe `import {something} from 'foo'` only works when importing from an es6 module, not from a commonjs module. CJS only export the "default" export.

[2016-01-12 03:18] #352 closed

[2016-01-12 03:39] daffl commented on #352
In Babel 6 on Node `import { something } from 'module';` with a module like

[code]

does work.

[2016-01-12 04:47] matthewp commented on #352
That's interesting, does the default case work as well?

[2016-01-12 10:01] whitecolor commented on #352
`imoport {x, y} from 'module'` does not work with:
[code]
works with:
[code]

[code]

[2016-01-12 12:08] matthewp commented on #352
It's steal's responsibility.

[code]

should not work, this is the default export. When you do `import {x} from 'module'` you are asking for the `x` export, but there is no x export. There's only a default export.

[2016-01-12 12:45] whitecolor commented on #352
We are talkig about CJS.
[code]
It has alwasy actually only one export, and a lot of code codue using this, if this shouldn't work why is babel doing this so?

[2016-01-12 14:14] whitecolor commented on #352
Shoul this me moved to steal issue?

[2016-01-12 14:44] matthewp commented on #352
How ES6 will interoperate with CommonJS is still undecided.  Babel has changed what they exported a couple of times. I believe in Babel 6 it no longer exports a module.exports property but instead only exports `exports["default"]`.  I'm not sure, I have a hard time keeping up. Ultimately Node will decide how they interoperate when ES6 syntax lands in Node because they'll have to support both for a

[2016-01-12 14:49] whitecolor commented on #351
Any comment/advice on this?

[2016-01-14 09:28] whitecolor commented on #199
https://github.com/whitecolor/steal-lp

[2016-01-14 09:28] #199 closed

[2016-01-14 10:54] whitecolor commented on #142
What about buding building fs output?

[2016-01-19 15:56] matthewp commented on #351
Why not create a `c` bundle that imports a and b? Mark that as a sideBundle and you've gotten your combined bundle.

[2016-01-19 16:01] matthewp opened #354 "Allow user to do own transpiling"
This way they can use any version of Traceur or Babel or whatever they need to use.

[code]

[2016-01-19 17:58] whitecolor commented on #351
Yes I tried it, but didn't get the result I expected. Probably should work. Steals makes it its own way) well its not so important. Probably may close.

[2016-01-19 17:58] #351 closed

[2016-01-19 18:11] whitecolor commented on #354
Yes. it should be! Better not only for js.

[2016-01-19 18:38] matthewp commented on #354
@whitecolor There is no transpiling step for non-JavaScript.  CSS, for example, goes through the plugin phase. So any custom stuff you want to do there is with plugins.

[2016-01-19 18:38] matthewp commented on #351
I've added some docs on sideBundle: http://stealjs.com/docs/load.metadata.html

[2016-01-19 19:13] whitecolor commented on #354
Ok, right, but can babel for build be either replaced as you pointed here https://github.com/stealjs/steal/issues/546#issuecomment-172944874
[code]
?

[2016-01-19 20:09] matthewp commented on #354
No, transpiling is different and doesn't happen in the build the same way it happens in the browser. All translate plugins do though.

I'm going to try and get this in for you this week.

[2016-01-19 20:12] whitecolor commented on #354
Thanks)

[2016-01-19 20:22] #339 closed

[2016-01-19 21:31] #354 closed

[2016-01-19 21:36] matthewp commented on #354
@whitecolor This is included in 0.13.3, documented here: http://stealjs.com/docs/steal-tools.BuildOptions.transpile.html

[2016-01-19 21:36] whitecolor commented on #354
@matthewp Cool)

[2016-01-21 18:21] whitecolor opened #357 "Better minify (uglify) error handling"
Uising new `transpile` option got the minification error due to uglify still doesn't fully support new bable's formats https://github.com/mishoo/UglifyJS2/issues/895

But steal throws something like that:
[code]

I have to figure at what file cased this, and fix. For this I inserted the output here:
https://github.com/stealjs/steal-tools/blob/master/lib/buildTypes/minifyJS.js#L21

So I think there

[2016-01-21 18:37] matthewp opened #358 "Plugins used by buildConfig included in production build"

[2016-01-21 18:48] matthewp commented on #357
Sure, here is the place to put the try/catch: https://github.com/stealjs/steal-tools/blob/master/lib/graph/minify.js#L8

`node.load.name` is the module name, `node.load.address` is the file path.

[2016-01-21 19:01] whitecolor opened #359 "Transpiled by Babel6 module is not handled while build"
Steal doesn't wrap in `define` transpiled by Babel6 module:

Transpiled source found in built file:
[code]

Browser doesn't load it with error on filst line:
[code]

[2016-01-21 19:02] whitecolor commented on #357
Ok perhaps I'll do)

[2016-01-21 19:08] matthewp commented on #359
I assume you mean using the new `transpile` option?

[2016-01-21 19:11] whitecolor commented on #359
Yes of cource, how would I get Babel6?
[code]

[2016-01-21 19:13] matthewp commented on #359
You have to tell Babel to transpile to AMD. Otherwise it will transpile to CommonJS default. This is the AMD plugin: http://babeljs.io/docs/plugins/transform-es2015-modules-amd/

[2016-01-21 19:13] #359 closed

[2016-01-21 19:28] matthewp commented on #358
I went back to StealTools 0.7 to see how it handled it and nothing has changed. Modules that are brought in by buildConfig are treated as any other plugin and are an empty module in production (back then it used System.set, but now we use define() )

I don't think this is a bug. Would be nice to exclude these parts but I can't think of a good way off hand. We could have an excludeFromBuild flag or

[2016-01-21 20:30] whitecolor commented on #359
Ok, thanks, why this works in browser, systemjs transforms it?

[2016-01-21 21:10] matthewp commented on #359
No, in the browser it doesn't tranpsile to AMD at all, it goes to the "system" format. I made it so that's what's always used in the browser.  In the future I'd like to move transpiling to the "translate" step in which case the build and browser would be the same and you could do your own transpiling with a normal translate hook.

[2016-01-22 00:27] whitecolor commented on #359
I currenlty deliver to the client already transpiled version by babel (withou amd plugin).

[2016-01-26 00:07] pYr0x opened #361 "update engineDependencies to node 5"
should we add nodejs version 5 to the `engineDependencies` of the package.json file? i got always a install warning on npm

current `engineDependencies`
[code]

[2016-01-26 00:47] matthewp commented on #361
Yes, we should, I intended to add this when making steal-tool's tests run on Node 5 in Travis.

[2016-01-27 07:53] whitecolor opened #362 "Simultaneous use of import and require (in one module)"
Currenlty, this will work in browser (babel transpiler handles it):
[code]
But it breaks build (what anoying you don't know the file which has been broken).

So there also is need to have more `try catch` and output info about module that caused execption while parsing/transpilation/mification/etc.

[2016-01-28 20:45] whitecolor opened #363 "steal's babel 5 is trying to load .babelrc (with custom transpile option)"
There is `.babelrc` with `Babel 6 options` in project folder. Custom `traspile` option is passed to steal-tools build. But it still tries to load `.babelrc.` and fails:

[code]

[2016-01-28 20:54] matthewp commented on #363
Not sure what you are talking about, can you provide some example code and more explanation. How do you know babel 5 is trying to load .babelrc, where are you getting this info from?

[2016-01-28 21:00] whitecolor commented on #363
When build starts. Just place `.babelrc`
[code]
in project folder and start build.

[2016-01-28 21:29] whitecolor commented on #363
And I think I should not touch it or if custom `transpile` is passed.

[2016-01-28 22:35] matthewp commented on #363
Ok, I can't remember why we depend on babel but we shouldn't so I'll remove that.

[2016-01-28 22:41] whitecolor commented on #363
Ok, thanks)

[2016-01-28 22:42] whitecolor commented on #362
Should this work right?

[2016-01-28 22:55] justinbmeyer commented on #362
if babel handles it, it might be able to work.  However, our transpiling is handled by https://github.com/stealjs/transpile .  I'm not sure if that is using babel.

no.  It's not a good idea to use different module formats even if you can.

[2016-01-28 23:23] matthewp commented on #362
We should move transpiling to the `translate` step in which case this would probably work.

[2016-01-28 23:49] justinbmeyer commented on #362
What does it transpile it to? I think es6 behavior is not in transpile to allow cycles.

Sent from my iPhone

[2016-01-29 00:05] whitecolor commented on #362
So this is related https://github.com/stealjs/steal-tools/issues/363 I belive, because I use custom `transpile` with babel 6 (and it works actually, because with babel5 some modules wouldn't be handeld), but some how steal's babel 5 still gets involved in the process)

[2016-01-31 06:18] aaronhall opened #364 "TypeError: Cannot read property 'port' of null"
Getting this exception sometimes, but not always, when running can-serve:

[code]

This is a race condition at https://github.com/stealjs/steal-tools/blob/master/lib/stream/live.js#L29

See https://nodejs.org/api/net.html#net_server_address:

`http.Server.listen()` is called [here](https://github.com/stealjs/steal-tools/blob/master/lib/create_websocket_server.js#L6). `net.Server.listen` supports a

[2016-01-31 12:55] matthewp commented on #364
Thanks!

[2016-02-04 13:42] matthewp opened #365 "When progressive loading and using npm, the package.json!npm module is missing some config"
This is a little hard to explain but happens in the donejs-chat app. The scenario is that you are progressive loading where one of the bundles (other than the main bundle) is loading a package.json, that package.json will not be included in the build output.

There's two causes for this. For one, we need to reuse the set of packages that get loaded so that later bundles create the entire package.j

[2016-02-06 00:37] whitecolor commented on #363
just remind as impossible to have `.babelrc` anywhere near with steal (it also scans parents).

[2016-02-10 14:12] whitecolor opened #367 "Allow custom minify/uglify"
Allong with custom `transpile`, I believe it would be useful to have ability to use custom minifier/uglifier (for example there is experimetal branches of uglify that works better with ES6/babel)

[2016-02-10 14:34] matthewp commented on #367
Personally I'd rather finish up https://github.com/stealjs/steal-tools/issues/142. You could turn off minification get back the bundles, do whatever you wish with them, and then write them out yourself.

[2016-02-10 14:41] matthewp commented on #142
That won't be done in this API, you'll get a stream of bundles and will be responsible for writing them out yourself.  We can expose a `createBundlesWriteStream` or something that takes a bundles stream and writes it out.  So you could create a bundles stream, manipulate it as you wish, and then write out the results.

[2016-02-10 15:18] Macrofig opened #368 "Update stale dependencies"
When attempting to install steal-tools into a brand new project, I get many warning messages:

[code]

Did some quick research on the warnings. I believe these warnings are for steal-tools' dependency dependencies (i.e. NOT steal-tools direct dependencies).

- [cryptiles](https://www.npmjs.com/package/cryptiles) on version 3.0.0
- [hawk](https://www.npmjs.com/package/hawk) on version 4.1.2
- [hoek

[2016-02-10 15:19] Macrofig opened #369 "Steal Tools warning when using Node 5"
I'm not sure if we just didn't update the `engineDependencies` or if this is a specific limitation. Either way, I think it needs addressing.

[code]

[2016-02-10 15:19] whitecolor commented on #142
steam is ok.

[2016-02-10 15:21] whitecolor commented on #367
but you minify each module not bundle.

[2016-02-10 15:29] Macrofig commented on #369
Just realized I duplicated this issue #361. Closing in favor of that issue.

[2016-02-10 15:46] matthewp commented on #369
No, that's something different, this is the engines field: https://github.com/stealjs/steal-tools/blob/master/package.json#L102  It should be updated

[2016-02-10 15:51] matthewp commented on #367
Ideally the streams would be fine-grained so you would get back the bundles before being concatenated together. Then you could concat them and do minification OR you could minify before concatenation. You'd be able to do what you wanted.

[2016-02-10 15:53] whitecolor commented on #367
Idealy)

[2016-02-14 23:03] #365 closed

[2016-02-14 23:05] matthewp commented on #350
Yeah, this is weird, should figure out a way to prevent the file system path from being included.

[2016-02-14 23:05] #227 closed

[2016-02-14 23:07] matthewp commented on #350
Oh, this is a dupe of #198

[2016-02-14 23:07] #350 closed

[2016-02-14 23:10] matthewp commented on #142
Going to document what we need:

* **createBundleGraphStream** - Given

[2016-02-15 09:04] whitecolor commented on #350
Hm I've already forgot that made those issue!

[2016-02-15 19:15] #363 closed

[2016-02-15 19:16] #368 closed

[2016-02-15 19:17] matthewp commented on #363
Should be fixed in 0.13.4

[2016-02-16 19:51] matthewp opened #375 "multi-main build does not build for the first main"
If you have `['app_a', 'app_b', 'app_c', 'app_d']` it will only build for `['app_b', 'app_c', 'app_d']` because of this line: https://github.com/stealjs/steal-tools/blob/master/lib/graph/make_graph_with_bundles.js#L66

[2016-02-16 20:21] matthewp opened #377 "bundling steal requires you set base-url on script tag"
We could add this to the bundled steal output.

[2016-02-16 21:45] matthewp opened #378 "Bundle names"
We need to nail down how bundles should be named because it causes a lot of issues. All of the following should be covered:

# Without package name

[code]

[code]

[code]

# With package name

[code]

[code]

[code]

# Without package name with plugin

[code]

[code]

[code]

# With package name with plugin

[code]

[code]

[code]

The key is that, **whether or not you use the package name as you

[2016-02-16 21:48] matthewp opened #379 "using package name when loading multi-main app fails"
Partially fixed in 17592fdf3ec79fed1d70de7728da69bc2aa80731

Related to #378

[2016-02-16 23:52] daffl opened #380 "0.13.4 throws errors"
I am getting this error when doing a CanJS build:

<img width="243" alt="screen shot 2016-02-16 at 3 44 58 pm" src="https://cloud.githubusercontent.com/assets/338316/13095133/4e504df2-d4c4-11e5-95d1-381d435c4a7f.png">

It works with v0.13.3

[2016-02-17 00:05] matthewp commented on #380
Thanks, caused by https://github.com/stealjs/steal-tools/pull/373, will fix in the morning.

[2016-02-17 13:11] #375 closed

[2016-02-17 13:37] #380 closed

[2016-02-17 13:47] matthewp commented on #380
Fixed in 0.13.5

[2016-02-17 18:56] dbleier opened #382 "circular dependencies not resolving correctly in production build"
foo.js
[code]
bar.js
[code]
this works in development. However in production,
the define for foo calls
[code]
If the define for foo is called before the define for bar, then `_bar === { 'default': {} }`

After bar is define, it seems that _bar in the foo define is not updated so that when foo.attr('propA') is called, it returns an undefined TypeError

[2016-02-17 18:58] matthewp commented on #382
Thanks!  This is an excellent test case.

[2016-02-17 20:38] dylanrtt commented on #382
**main.js**
[code]

**foo.js**
[code]

**bar.js**
[code]

[2016-02-18 13:05] matthewp commented on #382
Thanks for the simplified test case.  Think we probably need https://github.com/stealjs/transpile/issues/11 for this is my guess.

[2016-02-22 20:11] matthewp commented on #198
This will be fixed in 0.14.0

[2016-02-23 13:40] #198 closed

[2016-02-23 14:05] #88 closed

[2016-02-23 15:13] pYr0x commented on #377
@matthewp can we close this by merging #370 into master?

[2016-02-23 15:38] matthewp commented on #377
It's merged, thanks for the reminder.

[2016-02-23 15:38] #377 closed

[2016-02-23 23:13] BigAB opened #385 "404 Warning when building with steal-tools"
This message should probably be suppressed when building with steal-tools.

<img width="554" alt="screen shot 2016-02-23 at 5 10 37 pm" src="https://cloud.githubusercontent.com/assets/76821/13269983/afdbe040-da50-11e5-8e23-102648103135.png">

[2016-02-23 23:19] matthewp commented on #385
Ah, yeah you are right.  Here's where it is logged: https://github.com/stealjs/system-npm/blob/master/npm-extension.js#L300

[2016-02-28 22:30] whitecolor opened #387 "After update to latest 14: build on windows fails"
After update to latest 14: build on windows fails
[code]

[2016-02-28 22:48] whitecolor commented on #387
I've also noticed changed behaviour of map fileds

for example, this mapp:
[code]

allowed to require
[code]
And it would be loaded from `../node_modules/shared_module/my/module` it doesn't work with latest.

[2016-02-28 23:01] whitecolor opened #388 "Problem with maping in 0.14"
I've also noticed changed behaviour of map fileds

for example, this map:
[code]

allowed to require
[code]
And it would be loaded from `../node_modules/shared_module/some/thing` it doesn't work with latest.

[code]

[2016-03-05 15:42] pYr0x commented on #358
now we can use the ignore option to exclude a module. write a new test #392

[2016-03-05 17:32] #361 closed

[2016-03-05 17:33] #358 closed

[2016-03-09 15:46] matthewp opened #395 "Transform fails on projects with live-reload configDependency"
It's because live-reload checks if the platform is "build" and it's not.  This is related: https://github.com/stealjs/steal-tools/commit/a6a682555c4bc0913f184a6bebddda33ecb4ef41

Can't remember why I did it this way.

[2016-03-09 16:17] #395 closed

[2016-03-15 08:49] pYr0x commented on #387
itsn't 0.15 the latest?

[2016-03-15 08:50] pYr0x commented on #388
this problem also exists in 0.15?

it would be great if you can provide a test..

[2016-03-15 09:59] whitecolor commented on #387
I will check it.

[2016-03-15 11:39] matthewp commented on #388
I don't know why that was ever working `../node_modules/shared-module` is not a valid map, probably you meant to put this into paths?

[2016-03-15 11:40] matthewp commented on #387
Need more info than provided here to do anything with.

[2016-03-15 11:40] #387 closed

[2016-03-15 11:58] pYr0x commented on #388
@whitecolor yes, metthewp is right, `path` should be the right place for that.

[2016-03-15 12:08] whitecolor commented on #388
I will check, earlier I used paths but then switched to map) and currenlty it works for version <0.14

[2016-03-15 12:10] whitecolor commented on #387
Will check it again, just tried to update from 0.13 and it didn't work.

[2016-03-15 17:15] matthewp opened #403 "Export doesn't throw when there is an illegal return"
A CommonJS module like:

[code]

Will throw in transpiling but this error doesn't bubble up to the export grunt task (at least).

[2016-03-17 11:43] matthewp commented on #364
This detects if the port is already in use, we should add this as well.

https://github.com/donejs/done-serve/blob/master/bin/done-serve#L66

[2016-03-17 12:05] matthewp opened #405 "Switch to using polling for live-reload's watch"
Works better when doing `npm install`s.

[2016-03-17 12:06] matthewp commented on #379
@pYr0x is this one fixed?

[2016-03-17 12:06] pYr0x commented on #405
polling so also needed for using donejs-vagrant via sync folders

[2016-03-17 12:11] matthewp commented on #405
Oh really? Cool, I'm going to fix this today or tomorrow, will let you know and you can test with vagrant.

[2016-03-17 12:18] pYr0x commented on #405
for now i using https://github.com/whitecolor/watchalive he has also a cool proxying we are using in https://github.com/cherifGsoul/steal-yii/blob/npm/web/package.json#L75
this is for hot module swaping. if there is a request not of (node_modules|css|js) the server sends the request to the PHP server
does steal also provide this?

[2016-03-17 18:36] pYr0x commented on #378
this can be closed by https://github.com/stealjs/steal-tools/pull/402

[2016-03-17 18:36] #378 closed

[2016-03-17 18:39] pYr0x commented on #369
fixed in minor branch and pre-release 0.16

[2016-03-17 18:39] #369 closed

[2016-03-17 22:17] #405 closed

[2016-03-17 23:26] pYr0x commented on #379
@matthewp no this issue still exists. i have made a PR that we can work on
https://github.com/stealjs/steal-tools/pull/410

[2016-03-17 23:29] #357 closed

[2016-03-18 17:55] #364 closed

[2016-03-18 20:31] whitecolor commented on #388
close it here and open in steal.

[2016-03-18 20:31] #388 closed

[2016-03-18 22:33] DesignByOnyx opened #416 "Remove steal-remove statements earlier, or prevent devDependencies from making it to build"
We have some dev dependencies which are being included in our final build. Most notably our fixtures were being built, despite using the following code:

[code]

The import statement was actually being removed, but the fixtures were still built into the final output because the import statement was processed _before_ it was removed. We are also using Moment.js - but not in production code. We are

[2016-03-18 22:44] justinbmeyer commented on #416
The better solution for this is conditional dependencies.

[2016-03-18 22:53] justinbmeyer commented on #416
we could make `//!steal-remove-start` part of a translate hook.

[2016-03-19 11:10] pYr0x commented on #416
@DesignByOnyx can you use http://stealjs.com/docs/steal-tools.build.html#section_ignore ?

[2016-03-19 17:20] matthewp commented on #416
Removing the import from the source really only makes sense if the module your using is purely for side effects. Imagine you had some code like:

[code]

If we removed the import statement here it would throw in production. You could work around this by using `typeof foo` instead but it's non-obvious.

But the use-case aside, removing dev comments earlier might be a good idea.

[2016-03-20 20:58] pYr0x commented on #336
closed https://github.com/stealjs/steal-tools/pull/404

[2016-03-20 20:58] #336 closed

[2016-03-20 21:01] pYr0x commented on #14
closed
http://stealjs.com/docs/steal-tools.build.html#section_ignore

[2016-03-20 21:01] #14 closed

[2016-03-20 21:03] pYr0x opened #419 "bundleSteal env is by default: development"
if you make a build and set the option `bundleSteal=true` and load your app like `<script src="dist/bundles/testapp/main.js" main="testapp/main"></script>`, the env by default is "window-development" which is wrong.

[2016-03-21 12:21] matthewp opened #421 "envs meta configuration should be the source of truth"
Test incoming, but this:

[code]

the env should win, but does not, because of this change:https://github.com/stealjs/steal-tools/commit/b2ca17b88781e1100029d38865fca2ef35ca2058

Going to add a failing test.

[2016-03-21 12:24] #273 closed

[2016-03-21 12:39] matthewp commented on #421
This is related to donejs 0.8.0-pre, in which the build is breaking. This is part of the issue but might not be the only thing.

[2016-03-21 13:17] matthewp commented on #419
So, you might be thinking of adding something like:

[code]

While that probably works and is probably ok... I don't love the idea because it prevents us from using the bundled file somewhere other than in a web-browser (like running on a server).

Maybe instead we could add an option like: `steal.stealBundled = true` to the bundled file and then the same way we check for `steal.production` we cou

[2016-03-21 15:14] #421 closed

[2016-03-21 15:23] DesignByOnyx commented on #416
We remove the actual code too - so by the time the app is built, we were neither importing or referencing the module - yet it was still getting bundled.

I think it could be a handy warning if we let users know if a dev dependency is being referenced by production code. It shouldn't block the build, but letting users know they have a dev dependency 'foo' being referenced in production code would b

[2016-03-21 19:43] pYr0x commented on #419
@matthewp i like that way with `steal.stealBundled = true` ...

do we need that also if steal is bundled ?
https://github.com/stealjs/steal/blob/master/src/config.js#L230
i think we can leave setting `stealPath()` and the whole `paths` configs. or do i miss something?

[2016-03-21 20:08] matthewp commented on #419
I think that might be ok. Try it out and let me know what happens.

[2016-03-21 22:44] daffl opened #424 "Latest release breaks CanJS major build"
The latest steal-tools release breaks something in the AMD build for CanJS (tested only in the `major` branch at the moment). This is what I and @BigAB are seeing:

![screen shot 2016-03-21 at 3 37 12 pm](https://cloud.githubusercontent.com/assets/338316/13936451/09f391ec-ef7b-11e5-97e6-3acd081a2959.png)

[2016-03-21 22:45] daffl commented on #424
Downgrading to 0.15.3 fixes the issue.

[2016-03-22 17:28] pYr0x commented on #419
https://github.com/stealjs/steal-tools/pull/425

[2016-03-22 17:28] #419 closed

[2016-04-02 17:50] pYr0x opened #431 "build production with steal-tools streams throw an error with live-reload"
if you add in your package.json file the live-reload config dependency like
[code]
and you use streams for building
[code]
live-reload throw an error in production file

the problem, @matthewp identify is, that the streams are not setting the config for `localSteal` like `build()` did https://github.com/stealjs/steal-tools/blob/master/lib/build/multi.js#L76

[2016-04-02 17:56] pYr0x commented on #431
@matthewp can we remove does lines
* https://github.com/stealjs/steal-tools/blob/master/lib/build/multi.js#L76
* https://github.com/stealjs/steal-tools/blob/master/lib/build/transform.js#L31

and replace this line https://github.com/stealjs/steal-tools/blob/master/lib/graph/make_graph.js#L29 with `localSteal.System.config({ env: "build-development" });` ?
is that better? we dont need to set for lo

[2016-04-04 16:41] matthewp commented on #431
Yes, I think that will be fine. I think this was needed for the canjs build, but I can find another way to fix that.

[2016-04-04 18:50] pYr0x commented on #431
what do you mean? should i fix this with my suggestion?

[2016-04-04 18:53] matthewp commented on #431
Yes, you can fix this with your suggestion.

[2016-04-07 17:09] pYr0x opened #434 "steal `bundle` is not a BuildOptions it is a SystemConfig"
in the docs the `bundle` options is located at http://stealjs.com/docs/steal-tools.BuildOptions.html but thats not true.
as you see in a test (https://github.com/stealjs/steal-tools/blob/minor/test/multibuild_test.js#L1789) the `bundle` options is located in the SystemConfig.
we should improve the docs

[2016-04-08 12:11] #431 closed

[2016-04-11 17:25] justinbmeyer opened #436 "Better docs for how to turn on debugging with stealTools.exprot"
The example here shows it:

http://stealjs.com/docs/steal-tools.export.html

But the options object isn't actually given a type with possible values (I tried debug: true and it didn't work):

[code]

[2016-04-11 17:27] justinbmeyer opened #437 "ignore option as function not property documented"
http://stealjs.com/docs/steal-tools.export.output.html

Doesn't show `.ignore` being used as a function (it can be).

[2016-04-11 17:37] justinbmeyer opened #438 "Expose (or document) st.export helpers ("+amd", "+global-js", etc) so others can use"
I will fill in this comment momentarily.

[2016-04-11 17:41] justinbmeyer opened #439 "st.export's "+cjs" .normalize's alias should work without needing to specify the version of a package"
This is sorta gross:

[code]

[2016-04-11 17:44] justinbmeyer commented on #439
actually, this isn't true.  It keys off the actual `moduleReferenceName` which is a bit weirder actually.

[2016-04-11 17:44] #439 closed

[2016-04-11 17:53] pYr0x commented on #436
Debug: true isn't a valid option ... I think it is verbose: true
http://stealjs.com/docs/steal-tools.export.object.html

[2016-04-11 18:05] justinbmeyer commented on #436
yeah, it's verbose.

[2016-04-11 18:40] pYr0x commented on #436
Can we close this?

[2016-04-11 19:04] justinbmeyer opened #440 "global shim has `exports` in the eval-ed scope"
This prevents exporting something like `when.js` because it has code like:

[code]

This should be false, but is true.

[2016-04-11 19:07] justinbmeyer commented on #436
Nope, I knew prior to posting the issue, that `verbose` worked.  My issue was about properly documenting the available options on the options object.

They are missing here too: http://stealjs.com/docs/steal-tools.export.object.html

![stealjs_-_exportobject](https://cloud.githubusercontent.com/assets/78602/14439046/bb162a74-ffee-11e5-8e50-7c5946770699.png)

[2016-04-11 19:09] justinbmeyer commented on #436
Specifically, I wanted a link where the following arrow is on http://stealjs.com/docs/steal-tools.export.html

![stealjs_-_export](https://cloud.githubusercontent.com/assets/78602/14439082/eff39d8a-ffee-11e5-8e8d-44c4dccb6ae8.png)

[2016-04-11 20:54] #440 closed

[2016-04-11 22:29] justinbmeyer opened #443 "Global shim support exporting global."
Often you want a module to export a global.  Currently, I hack that in like this:

[code]

We should make `exports` be able to do the reverse.  `{"can-fixture": "fixture"}`

[2016-04-11 22:32] justinbmeyer commented on #443
The way to do this is to make `lib/bundle/shim.js`'s `define` after the export is saved here:

[code]

it should check if `moduleName` is in `exports` and if it is, add the right thing to the global. We probably need a `set` similar to `shim.js`'s `get` that could set a nested property like:

[code]

I wonder if we could even supply multiple.  That would be cool for it to try to put it on `window.

[2016-04-14 16:57] matthewp opened #445 "Sourcemap path is wrong on Windows"
This is probably been happening for a while but the bundle name changes have exposed the problem.  we have paths (in the source maps) like:

[code]

but this are http paths, not file paths, so they should be unixy.

This is blocking the steal-tools 0.16 release.

[2016-04-15 11:45] whitecolor opened #446 "Modularize steal-tools"
I would suggest `steal-tools` to become more lightweight by removing `traceour`, `transpile` dependencies, I would even consider removing deps from `clean-css` and `uglify`, all this maybe not needed in custom transpile workflows.

All this stuff maybe included in `donejs` by default, but steal should be as lightweight and modular as it can be.

[2016-04-15 12:02] justinbmeyer commented on #446
We shouldn't remove the ability for steal to do a production ready build without additional work. People, in general, want the ability to do the basics without hassle. That includes minification and the transpiration necessary for a working build.

Sent from my iPhone

[2016-04-15 12:12] matthewp commented on #446
We have [streams](http://stealjs.com/docs/steal-tools.guides.streams.html) now for the purpose of customizing your build. You can omit the transpile step and do it yourself, you can omit the minify step.  I also wish this stuff was split up into their own packages and steal-tools would just be the package that "brought it all together" but I don't know when I'll have time to do all the work necess

[2016-04-15 12:32] whitecolor commented on #446
Some people do not like exessive dependencies and bloated stuff. Esp when then take additional time to install (this is not such a big problem) but there is more serious one: different problems with flat NPM modules encourage problems with different versions you have to have babel6 and babel5 which you not need etc.

I think there is need to consider allowing more modular approach, maybe `steal-to

[2016-04-15 12:41] justinbmeyer commented on #446
I'm confused. Transpile is another project, so is uglify. What would we need to split out?

Sent from my iPhone

[2016-04-15 12:44] justinbmeyer commented on #446
Unless I'm missing something, modules that aren't useful out of the core project shouldn't be brought out.

Transpile makes sense because someone else could use it in theory.

Bringing things out otherwise doesn't seem to be worth the extra maintenance cost.

Sent from my iPhone

[2016-04-15 12:46] justinbmeyer commented on #446
Those dependencies are all necessary to do the bare minimum ... A minified build.

I don't know what you mean by:

Can you elaborate?

Sent from my iPhone

[2016-04-15 12:53] whitecolor commented on #446
Well someone in "in theory" could use `scss`, for `typescript`, `coffee`,`flow` for whatever, but you don't have it right out of the box. Why include something at all? More over babel5 is actually becoming more and more  obsolete that do not support plugins etc.

This is a problem of exessive deps and bloated stuff, exessive deps are not correct in theory. In practice the can be not visible until

[2016-04-15 13:10] matthewp commented on #446
I agree with @whitecolor here, having a very large project comes with some tradeoffs. If you are using all of steal-tools features it's very convenient and you have simple APIs for the common use cases. The downside is that the wealth of features makes it difficult to understand the individual parts. Part of this is a documentation problem, but I think all big projects have this problem.

If you w

[2016-04-15 13:13] whitecolor commented on #446
Right such things should be separated and be building blocks with strictly defined API.

[2016-04-18 16:48] matthewp opened #448 "live-reload should always have quiet output"
Current it is showing:

<img width="434" alt="screen shot 2016-04-18 at 12 47 47 pm" src="https://cloud.githubusercontent.com/assets/361671/14612156/c8a7fd78-0563-11e6-8f18-8e1cabd695d4.png">

[2016-04-21 18:38] pYr0x opened #450 "sideBundle does not bundle CSS files that belongs to the module"
lets say we have bootstrap install with npm.
in your app we call
[code]

if we configure bootstrap with `sideBundle = true`
[code]
steal-tools will now bundle bootstrap into his own file.
**but the css files that bootstrap has are not bundled into his own file**

[2016-04-22 20:35] isadovskiy opened #451 "Libraries in UMD format cause "Multiple defines for anonymous module" run-time error"
Hello.

I've faced "Multiple defines for anonymous module" run-timeerror when tried to bundle library in UMD format. In dev mode, everything works fine. But after bundling with build-tools I just get this error.

Specifically I'm trying to bundle https://github.com/desandro/masonry/

I tried to get deeper into the issue and here are my findings. Masonry itself is in UMD format. It also depends on

[2016-04-22 21:18] isadovskiy commented on #451
Looks like the problem is in this line:
[code]
steal-tools does not recognize it as AMD module. Changing it to
[code]
makes the things compiled correctly. So can you fix steal-tools to support first syntax?

[2016-04-22 21:45] matthewp commented on #451
It looks like this module was detected as a commonjs module.  if you force it to be amd with config it will provide work:

[code]

we should do a better job of detecting UMD though.

[2016-04-22 22:00] isadovskiy commented on #451
This is the first thing I tried this but it did not work. I think it's because another issue I found while researching the problem descried above. During research. I tried to substitute Masonry's dependencies with the fixed local versions. Something like
[code]
But steal-tools just ignores these settings... Until I added them as a dependencies to my package.json explicitly.So looks like steal at t

[2016-04-22 22:05] isadovskiy commented on #451
No, it does not work. It says:
[code]

[2016-04-25 19:34] matthewp opened #452 "--bundles-path cli option is not used"

[2016-04-25 20:04] #452 closed

[2016-04-27 20:43] daffl opened #455 "Warnings with Node 6"
When running a steal-tools build the following warnings (among others) are shown:

[code]

[2016-04-27 20:50] matthewp commented on #455
@mjstahl saw this too today. I think we just need to update our fs-extra version. I'll look into it.

[2016-04-28 13:12] mjstahl commented on #455
And if I remember correctly, it was graceful-fs v3 -> v4.

[2016-04-28 15:19] mjstahl opened #456 "Any error the stops steal-tools from building should also set an exit code greater than 0"
[code]

From the above example, you can see the build was not successful due to an error loading `style/style.less`. But when I echo the exit code of the command it returns a `0`.

[2016-04-28 18:52] #456 closed

[2016-05-09 22:58] whitecolor opened #459 "steal is broken by `{...options}` spread operator"
`s.graph(config, stealOptions)` - just building graph.

is broken by code `{...options}`

[code]

Just building graph. Why is it using babel at all at this step?

Worked before 0.15.

[2016-05-09 23:10] matthewp commented on #459
Thanks, will take a look.

[2016-05-09 23:17] whitecolor commented on #459
Ok, would be greatful.

[2016-05-09 23:58] matthewp commented on #459
Cannot recreate. This commit adds a test that does what you are doing and it works ok.  https://github.com/stealjs/steal-tools/commit/51afe845513723efaa9b23a2f6e2da65790111a2

Can you reduce down your code? Start by removing every dependency except the main.  Add them back one at a time until you see it break again.

[2016-05-10 01:16] matthewp commented on #459
I was able to get it to break, will look into what is going on.

[2016-05-10 01:32] matthewp commented on #459
So the issue is that we do use the transpiler (babel or traceur) to get the dependencies of a module. We have to get the deps ourselves (with regexes probably) -- and not use the transpiler -- in order to make this work. I think they should be fairly simple regexes though, so it's probably fine.

[2016-05-10 01:32] matthewp commented on #459
This is the root issue: https://github.com/stealjs/system-trace/issues/14

[2016-05-10 09:35] whitecolor commented on #459
I tried the code what I see:
1) comments are not handled properly, so imports that are commented
2) `can-import` is handled (again when is not needed in comments)

for 1 and 2 probably need to use `^/s*import ...`

3) presence of `import` and `export` is not enough to consider module to be ES6 - I'm not sure what can be done about it. All this methods and regexp s are not very reliable in general.

[2016-05-10 11:24] whitecolor commented on #459
A I don't know what it is doing but it doesn't build app correctly it just do not include files from `import` in the build.

[2016-05-10 12:32] whitecolor commented on #459
For handling comments I would remove first block comments /* */ and then used expression something like this /(?:^|\n)\s*import .*["'](.+)["']/g;

[2016-05-10 14:54] matthewp commented on #459
I have a fix for the comment issue. can-import is not applicable here, this is only for ES6 import/export code, we need it to build the dependency graph.

[2016-05-10 14:57] matthewp commented on #459
https://github.com/stealjs/steal/pull/690 will fix the comment issue. Will add a test here to verify.

[2016-05-10 15:21] whitecolor commented on #459
this should be check attentively there many cases like
[code]

[2016-05-10 15:24] matthewp commented on #459
These cases are covered: https://github.com/stealjs/system-trace/blob/master/test/tests/basics/c.js

[2016-05-10 15:31] matthewp commented on #459
`export from` is one I hadn't thought of, will add that.

[2016-05-10 17:10] matthewp commented on #459
Thanks, all of those cases are covered now and tested.

[2016-05-10 17:31] whitecolor commented on #459
Ok, hope you will cover all the cases with specifiers as wll
`import {x} from ` etc

[2016-05-10 18:52] #459 closed

[2016-05-16 21:18] justinbmeyer opened #462 "stealTools.export broken with relative main"
If I have a main in `package.json` like:

[code]

I get the following error:

[code]

[2016-05-16 21:29] matthewp commented on #462
what's the use case? a relative main doesn't make sense, modules are always relative to their parent, if there is no parent this error should occur imo.

[2016-05-16 21:30] justinbmeyer commented on #462
I think a relative main makes sense.  It's the path relative to the `package.json` location.  It's supported by CJS/NPM, we should probably support it too.

[2016-05-16 21:31] matthewp commented on #462
Ok, this a system-npm issue then.

[2016-05-16 21:32] justinbmeyer commented on #462
Strangely, it works fine when loaded from the browser.  It only surfaced when building.

[2016-05-16 21:35] matthewp commented on #462
That is strange, i'll try and recreate it.

[2016-05-16 21:40] matthewp commented on #462
I was able to reproduce it in the browser, this gist demonstrates: https://gist.github.com/matthewp/6e8c05ab7bd92d75ded0763f10e1ba38

Moving the issue to https://github.com/stealjs/system-npm/issues/137

[2016-05-16 21:40] #462 closed

[2016-05-18 01:54] marshallswain opened #464 "Live-reload not working with Vue.js"
I made an example of how to use Steal with Vue.js.  Running `steal-tools live-reload` produces an error.  It's caused when steal tries to process the package called `envify`, which is found in vue's package.json:

https://github.com/vuejs/vue/blob/dev/package.json#L45

For some reason, that package comes through wrapped in an array and breaks [at this line in the npm-utils](https://github.com/stea

[2016-05-18 11:35] matthewp commented on #464
Which version of steal-tools?

[2016-05-18 12:14] matthewp commented on #464
I ran steal-tools from the node_modules folder and didn't get that problem:

<img width="682" alt="screen shot 2016-05-18 at 8 13 37 am" src="https://cloud.githubusercontent.com/assets/361671/15358077/7c7a3c02-1cd0-11e6-83d9-328808281d9c.png">

See what your `steal-tools --version` is.

[2016-05-18 15:37] marshallswain commented on #464
Bitovis-MacBook-Pro:Sites marshall$ steal-tools --version
0.15.7

[2016-05-18 15:38] matthewp commented on #464
Can you upgrade to latest and let me know?

[2016-05-18 15:55] matthewp commented on #448
This is fixed.

[2016-05-18 15:55] #448 closed

[2016-05-18 15:56] marshallswain commented on #464
Yep.  It's fixed.

[2016-05-18 15:56] #464 closed

[2016-05-18 16:00] matthewp commented on #445
This was fixed.

[2016-05-18 16:00] #445 closed

[2016-05-19 18:11] #437 closed

[2016-05-22 16:45] whitecolor commented on #446
Isn't it released yet, no?

[2016-05-22 17:03] matthewp commented on #446
Not yet.

[2016-05-28 11:18] whitecolor commented on #446
are we there yet?

[2016-05-28 16:40] matthewp commented on #446
No need to ask every week, contributions welcome.

[2016-05-28 16:55] whitecolor commented on #446
hm, sorry that is actually another issue that I was bothering about.

[2016-05-28 16:57] whitecolor commented on #459
Was this released?

[2016-05-28 17:34] matthewp commented on #459
Yeah, in 0.16.3

[2016-05-28 20:10] whitecolor commented on #459
That is the issue I wan't to ask about, and posted in another, sorry)

[2016-05-31 13:29] matthewp commented on #443
This is available now: https://github.com/stealjs/steal-tools/pull/463

[2016-05-31 13:29] #443 closed

[2016-05-31 13:29] matthewp commented on #424
This is fixed now.

[2016-05-31 13:29] #424 closed

[2016-05-31 13:30] matthewp commented on #367
With streams you can now do your own minification.

[2016-05-31 13:30] #367 closed

[2016-05-31 13:30] #261 closed

[2016-05-31 13:30] #256 closed

[2016-06-02 16:18] Krakabek opened #467 "Invalid order of styles after build"
Here is small example
https://github.com/Krakabek/StealStylesBug
All styles are in one file: styles.less
After building (node build.js) you can find index.css in dist folder
You can see, that body,input{font-family:"Helvetica Neue"... goes before reset block, containing font:inherit
Since order is critical in css files, produced app will have font:inherit in body

[2016-06-02 16:46] matthewp commented on #467
Thanks, will take a look.

[2016-06-02 16:48] justinbmeyer commented on #467
@matthewp my guess is that it's a bug with 2.4.0.

[2016-06-02 16:49] matthewp commented on #467
What is 2.4.0?

[2016-06-02 16:58] matthewp commented on #467
I'm assuming it's the minifier, going to create a smaller example.

[2016-06-02 17:23] matthewp commented on #467
Recreated in this gist: https://gist.github.com/matthewp/4390cacb5adcb0bf320fb7ef8222a599

You can clone that, `npm install` and see the problem.  If you run:

[code]

The problem exists.  if you run:

[code]

It works. So I think the problem is our css minifier.  I would start by trying to upgrade that, and see what it does.

[2016-06-13 15:49] matthewp opened #472 "Move grunt tasks to their own repository"

[2016-06-13 16:59] matthewp commented on #455
This is in the major branch, and 1.0 prerelease.

[2016-06-13 16:59] #455 closed

[2016-06-24 02:04] justinbmeyer opened #477 "Why does bundleAssets break things?"
In my sample app, if I have:

[code]

The app looks for my `myapp/puppies/puppies` module in: `bundles/myapp/puppies/puppies`.  However, if I change the build to:

[code]

The app correctly loads the `myapp/puppies/puppies` module in: `dist/bundles/myapp/puppies/puppies`.

[2016-06-24 02:19] justinbmeyer opened #478 "global-css breaking?"
This guide: https://gist.github.com/justinbmeyer/9b2b300dc300b9b29e5d90ec8d00b3ff

With this script

[code]

breaks with:

[code]

my guess is that this is b/c there is no css to export.  We should still probably handle this case.

[2016-06-24 02:30] justinbmeyer opened #479 "watch out for global elements in global-shim"
A page like:

[code]

Where I built `repos.js` like:

[code]

doesn't work because there's a global `#repos` element.  So `repos` the function never gets defined.

I think this is a bug.  We might want to check for this situation. Why aren't we setting no matter what?

[2016-06-24 02:34] justinbmeyer opened #480 "ES modules don't export to globals nicely"
A module like:

[code]

That I'd like to be a global `repos` function, so I configure export like:

[code]

doesn't work in a page like:

[code]

That needs to be:

[code]

[2016-06-24 02:35] justinbmeyer commented on #480
I think the fix to this is to have the global-shim-start export the default if `__esModule` is true.  I can't think of any time where someone would want to export a Module as a global.

[2016-06-24 02:37] matthewp commented on #479
I think it was because exports is used for both importing modules already on the global and for exporting modules onto the global.  The check was used to guess that it's intended to be an export onto the global.  What happens if there's a jquery module included but jQuery is already in the page?  we overwrite it?  Maybe.

[2016-06-24 02:41] matthewp commented on #480
I can see having a module like:

[code]

[code]

and expecting that to create `_.each` and `_.map`.  That being said, could check if "default" is the only export, in which case it becomes the value.

[2016-06-24 02:42] justinbmeyer commented on #480
Yeah, I could see that actually. But agreed, if default is the only thing, it should be the value.

[2016-06-24 02:43] justinbmeyer commented on #478
Here's a zip file of my project [myhub.zip](https://github.com/stealjs/steal-tools/files/331118/myhub.zip)

[2016-06-24 15:15] matthewp commented on #480
Closing as this is released, will verify your zip.

[2016-06-24 15:15] #480 closed

[2016-06-24 15:16] matthewp commented on #478
This should be fixed in 0.16.5.

[2016-06-24 15:16] #478 closed

[2016-06-26 13:35] leoj3n opened #484 "[node v6.2.2] [npm v3.9.5] sh: install-engine-dependencies: command not found"
Project source: https://github.com/stealjs/steal/wiki/Getting-Started

`npm install`:
[code]

`package.json`: (notice `"steal": "stealjs/steal#major"`)
[code]

`npm install`: (notice `sh: install-engine-dependencies: command not found`)
[code]

`npm-debug.log`: http://www.filedropper.com/npm-debug_1

Same error when using  `node v5.9.1` and `npm v3.8.8`, and/or `"steal-tools": "1.0.0-beta.0"`.

[2016-06-26 13:41] leoj3n commented on #484
https://github.com/bitovi/engine-dependencies

https://github.com/stealjs/steal-tools/blob/c6f735639ddffe17fed8d35ea591e217c8ab87fa/package.json#L116

[2016-06-26 13:54] leoj3n commented on #484
Can get npm to not fail installing `steal-tools` by manually installing `engine-dependencies` first, like:

[code]

👍

[2016-06-26 17:53] leoj3n commented on #484
Should be fixed by #485; needed to use `prepublish`.

[2016-06-26 17:53] #484 closed

[2016-06-26 21:11] pYr0x commented on #362
I see no need to write es6 and cjs in one module.
Close this.

[2016-06-26 21:11] #362 closed

[2016-06-27 07:27] pYr0x opened #487 "css @import will be removed by clean-css"
if you have a stylesheet like:

**bar.css**

[code]

Make a build with minification, `clean-css` remove the `@import` statement. but does not include the **foo.css**.

**solutions**
- set `processImport` default to `false` in `cleanCSSOptions`. the `@import` statement will not be touched. but you have also to set `bundleAssets` to `true`
- try to make import rules working with `clean-css`. maybe w

[2016-06-27 11:04] matthewp commented on #487
I think option 2 is the way to go.

[2016-06-27 18:34] pYr0x commented on #467
closed #486

@Krakabek can you confirm?

[2016-06-27 18:34] #467 closed

[2016-06-27 23:48] pYr0x commented on #487
i have a css file __base.css__
within i have a import
[code]

__foo.css__ is a sibling to __base.css__.
after build with steal-tools the url of the import is rewritten `@import url(../../../src/foo.css);` because i dont have set `bundleAssets` to `true`.
__but where does this url rewriting happen?__ i didnt find it

[2016-06-28 00:06] matthewp commented on #487
In the CSS plugin itself I believe.

[2016-06-28 07:09] pYr0x commented on #487
i added a `console.log` to https://github.com/stealjs/steal-css/blob/master/css.js#L21-L70
but this never gets called during build process

[2016-06-28 11:25] matthewp commented on #487
Yeah, you're right, I think it's done here: https://github.com/stealjs/steal-tools/blob/master/lib/bundle/normalize_source.js

[2016-06-29 10:32] Krakabek commented on #467
@pYr0x yup, using no-minify fixes that, thanks

[2016-06-29 10:44] pYr0x commented on #467
@Krakabek i mean using `steal-tools beta`. with this beta version minify also should output the right order

[2016-06-29 21:30] pYr0x commented on #487
i made a couple of changes and add some tests. but i stumble on some problems.

classic `@import` works fine with clean-css

but if we have a image in the imported file, this image-url does not rewritten by steal. because this source does not goes through steal anymore.

i am helpless, because if we have to write a complex css tracer and import files recursive and watch out for import loops.

[2016-06-30 12:44] m-mujica opened #490 "Cannot build app with a dependency that imports its package.json"
Basically, if there is a dependency that loads its package.json like:

[code]

You'll get the following error when running steal's build

![screen shot 2016-06-30 at 08 41 34](https://cloud.githubusercontent.com/assets/724877/16488429/df3df93a-3ea6-11e6-8a8a-7dea2708509c.png)

The problem seems to be that the json source it's not being transformed to

`module.exports = {"name" ...}`

before the mi

[2016-06-30 18:28] #434 closed

[2016-06-30 20:09] pYr0x commented on #490
don't know why this should work....

if your dummy-pkg module contains
[code]
all works like expected.
steal/system-json is the extension thats handle `json`.
see tests https://github.com/stealjs/system-json/blob/master/test/test.js

[2016-06-30 20:13] m-mujica commented on #490
@pYr0x in Node if you do `require('./package')` it works, we support that to make sure those packages are loaded by steal correctly. See https://github.com/stealjs/system-npm/blob/293a073e4845c612e031593a9acf92dfb0b45fa0/test/import_test.js#L183

[2016-07-05 14:08] m-mujica commented on #490
*Update*: I have benn working on this, it seems `load` isn't mutable and [this line](https://github.com/stealjs/system-npm/blob/293a073e4845c612e031593a9acf92dfb0b45fa0/npm-extension.js#L369) isn't working at all.

I've change system-npm to add the keep the updated address in `load.metadata` https://github.com/stealjs/system-npm/tree/retry-build-bug and then I changed system-json to look for `load

[2016-07-07 15:46] mjstahl commented on #244
I propose we add to command line options `--ssl-key` and `--ssl-cert`.

If those two options exist, we can `require("https")`, `server` will be an HTTPS server with appropriate key and cert options passed in.

`server` can then still be passed to the `WebSocketServer` object.

[2016-07-07 17:28] matthewp commented on #244
👍 Yep, that's the way to go, look for either key+cert or sfx, if so make it https.

[2016-07-07 23:15] akagomez opened #491 "bundleAssets sets bundlesPath incorrectly when true"
If `bundleAssets` and `bundleSteal` are both `true`, the `bundlesPath` is adversely affected.

Example:

[code]

Results in:

[code]

With `bundleAssets` set to `false`, `bundlesPath` is no longer configured at the top of the built/main file and Steal is left to derive `bundlesPath` on it its own, correctly.

[2016-07-08 07:14] pYr0x commented on #491
@akagomez thx,
can you add a breaking test in a new branch?

[2016-07-08 10:57] matthewp commented on #491
I'm not sure if this is a bug or not. The primary use-case of bundleAssets is to distribute the `dist` folder as your entire app, such as on a CDN. It was actually built for the CDN aspect of DoneJS.

Maybe instead bundleAssets could take an option that lets you specify the bundlesPath yourself.

[2016-07-08 11:59] akagomez commented on #491
I see. That makes sense.

I set `bundlesPath` alongside `bundleAssets` and it had no effect. Only when I provided `bundles-path` as a script attribute was I able to override the `bundleAssets` `bundlesPath`.

If you asked me, setting one option shouldn't interfere with another. For the case of CDN's and DoneJS I would think you would have to set both options to get the intended outcome.

[2016-07-08 12:38] matthewp commented on #491
The problem is that bundlesPath means two different things, one during the build and one in production.

In the build it means "where should bundle be written to in the filesystem".

In production it means "what path, relative to the baseURL, should I fetch bundles".

In this case, bundleAssets is setting the latter bundlesPath to what it thinks you want (because that's what bundleAssets is for).

[2016-07-08 12:39] matthewp commented on #491
Going to mark this as 1.0 as I think this is a good thing to fix while we have the ability to break things.

[2016-07-08 18:28] pYr0x commented on #491
@matthewp i can take this. do you have time to talk about it? i can do some stuff at the weekend.

[2016-07-08 18:47] matthewp commented on #491
Yeah, I'm around.

[2016-07-08 19:16] matthewp commented on #491
[code]

[2016-07-08 19:24] pYr0x commented on #491
- [ ] check dest for files in dest folder
- [ ] check bundlesPath in build options and check loading
- [ ] throw an error if bundleSteal is provided and bundlePaths not, or other

[2016-07-13 22:23] justinbmeyer opened #492 "inconsistency with build"
Someone went through the guide with the initial folder and package called `my-hub`, but left everything else the same (`main: "myhub.js"`), instead of making a `dist/bundles/my-hub/myhub.js`, steal-tools made a ``dist/bundles/myhub.js`.

[2016-07-13 22:31] matthewp commented on #492
Could you provide what they ran to do the build (like a build script or whatever) and what their package.json looked like?

[2016-07-15 19:29] justinbmeyer opened #493 "live-reload is broken w/ latest DoneJS"
if I go through the start of the DoneJS PMO guide to this point: https://donejs.com/place-my-order.html#section=section_Developmentmode

if I change styles.less, it doesn't always update the styles.

[2016-07-18 12:53] matthewp commented on #493
Looks like the less is being cached and not refetched, not sure where the problem is yet, investigating.

[2016-07-18 12:54] matthewp commented on #493
Ah, I think this is related to a double-loading bug I fixed last week.

[2016-07-18 12:55] matthewp commented on #493
Caused by https://github.com/stealjs/steal-less/pull/21

[2016-07-18 12:57] matthewp commented on #493
I sort of want to revert that PR, I'm not sure it's steal-less' responsibility to ensure that a less file is only fetched once. Steal and Less have different fetching mechanisms so if you import a file in less and also import it in JavaScript it would be fetched twice (before my PR).  Going to see if I can make live-reload work again for now.

[2016-07-18 13:50] matthewp commented on #493
Bug is in steal-less: https://github.com/stealjs/steal-less/issues/25

[2016-07-18 13:50] #493 closed

[2016-07-18 14:04] matthewp commented on #493
Fixed in Steal  0.16.25

[2016-07-22 01:27] shcarrico opened #495 "watch mode breaks module paths"
I running on 1.0.0-beta.1

using a `paths` configuration such as

[code]

works great normally and with the initial build including `watch : true` as a build option.

Subsequent builds initiated by the watch process seem to lose the path configuration and start trying to resolve these modules as if there was no path specified..

[2016-07-22 01:31] shcarrico opened #496 "external dependency resolution API is unclear"
To get my build working with paths to external dependencies, I had to both add an `ignore` array in my buildOptions object for `.build()`, *and* specify `"build" : false` in the `meta` section of my System config. I only figured this out by scouring the System builder docs. I did not get anywhere specifying environment specific pathing for production etc..

Doing as I have described, everything wo

[2016-07-22 10:44] sergiomcunha opened #497 "steal-tools dependency direct to github file"
To install steal-tools trough through npm, there's a dependency "source-map" pointing to a file on github.

    "source-map": "https://github.com/stealjs/source-map/archive/0.4.2-bitovi.1.tar.gz",

At the environment that I work it's not possible to have this dependency, this dependency also shouldn't be moved to devDependencies??

[2016-07-22 12:18] matthewp commented on #496
We have this now, not sure if you saw it: http://stealjs.com/docs/StealJS.loading-from-cdn.html

In general this process is too complex though, it should be better supported as a real thing.

[2016-07-22 12:20] matthewp commented on #497
It's not a devDependency, why does your work not allow this? Firewall?  I suppose we could publish this.

[2016-07-22 12:24] matthewp commented on #495
Does it matter that this are http(s) paths, or does it do this with normal paths as well?

[2016-07-22 13:27] sergiomcunha commented on #497
It's because of a firewall, if you can publish would be nice.
But it isn't a production dependency, from my point of view. Anyway this dependency can be avoided or published?
Thanks

[2016-07-22 14:17] matthewp commented on #497
Yes, it's production it, it's how we produce source-maps for bundles.

[2016-07-22 14:24] matthewp commented on #497
I'm going to publish it, have to fix some unrelated test errors first.

[2016-07-22 20:05] matthewp commented on #497
Getting something else in master, then will do a release.

[2016-07-22 23:40] Jaygiri opened #502 "Sadnboxed build is failing due to hard dependency on github.com hosted repo"
Sandboxed Jenkins build is failing to fetch https://github.com/stealjs/source-map/archive/0.4.2-bitovi.1.tar.gz which is dependency for steal-tools version v1.0.0-pre.1

is it possible to change "source-map": "https://github.com/stealjs/source-map/archive/0.4.2-bitovi.1.tar.gz" back to "bitovi-source-map": "0.4.2-bitovi.2"?

[2016-07-23 14:10] pYr0x commented on #497
@matthewp we should also patch the major branch. some user get also an error with steal-tools 1.0 beta
https://github.com/stealjs/steal-tools/issues/502

[2016-07-25 18:37] shcarrico commented on #497
👍

[2016-07-25 18:44] shcarrico commented on #496
I did see that, and it did not work as described.. i had to do as I described above to achieve the desired behavior.

[2016-07-25 18:45] shcarrico commented on #495
This may be related to #496 .. perhaps that "build" flag is not being respected in watch mode.

[2016-07-25 18:52] matthewp commented on #497
will do

[2016-07-26 12:06] matthewp commented on #502
I released v1.0.0-beta.2 which uses bitovi-source-map.

[2016-07-26 12:06] #502 closed

[2016-07-26 12:06] matthewp commented on #497
I released v0.16.6 and  v1.0.0-beta.2 which has this fixed.

[2016-07-26 12:06] #497 closed

[2016-07-29 12:37] matthewp opened #503 "Support Closure as a JavaScript minifier option"
Closure has good [es6 support](https://github.com/google/closure-compiler/wiki/ECMAScript6), better than Uglify.  Maybe we can make the `minify` option take a string:

[code]

[code]

[code]

[2016-07-29 15:53] roemhildtg opened #504 "bundleAssets On Windows Paths Are Invalid"
moved from https://github.com/stealjs/steal/issues/814

When using the `bundleAssets` option, css files like font awesome and bootstrap icons end up using a backslash in their relative files. The output file ends up with paths that looks like this:
[code]

Chrome treats this path like this:
[code]

[2016-08-01 16:09] georgesunil81 opened #507 "Specifying System.bundle with wildcards does not work with package.json during the build process..."
I have some pages and modals in my CanJS application that dynamically get loaded using System.import

**I have the System.bundle specified as below in my package.json -**

[code]

**I then run the build process (node build.js), it gives me these errors -**

 Error: Error loading `"my-app/my-pages/**/*"`. ENOENT: no such file or directory.

**Below is my build.js -**

[code]

It currently builds fi

[2016-08-04 16:44] matthewp commented on #503
This is the npm package to use I think: https://www.npmjs.com/package/google-closure-compiler

[2016-08-05 01:43] shcarrico opened #508 "steal-tools npm install fails"
This seemed to just "start" happening in the last few hours.

version `"1.0.0-beta.1"` through `"1.0.0-beta.3"` seem to behave similarly.

i have nailed it down to that version of `babel-traverse` missing from npm even though it is checked into github.. plz close this if it goes away, otherwise might need to shrinkwrap or some such?

[code]

[2016-08-05 13:48] m-mujica commented on #503
@matthewp I was looking into this last night, if I'm not mistaken we have to use this API https://github.com/chadkillingsworth/closure-compiler-npm#plugin-authors-and-native-node-usage but I noticed it's async (I guess the minified code is the `stdOut` parameter), with UglifyJS the `minify` function in sync.

Should we make this https://github.com/stealjs/steal-tools/blob/master/lib/buildTypes/min

[2016-08-05 17:52] shcarrico commented on #508
went away on its own! :)

[2016-08-05 17:52] #508 closed

[2016-08-09 19:48] matthewp commented on #503
Yep! That definitely sounds right to me.

I don't think it's too big of a change, the minification happens as it's own stream, here: https://github.com/stealjs/steal-tools/blob/2f945de2d434d3b8cfbce6dea1c7d7b8c2a096c8/lib/stream/minify.js

I think you just make it return a Promise like you said, then wait on those promises before resolving the stream.

[2016-08-09 20:34] debone commented on #451
Anything on this? I am trying to use the same lib and running into the same problems... Tried many and many stuff and still stuck and no idea how to fix...

I installed it from npm where is called `masonry-layout`... is it `masonry-layout` problem or a `steal-tools` problem?

---

Tried

[code]

but it didn't help...

[2016-08-09 20:57] matthewp commented on #451
Try "format": "global" instead.

[2016-08-09 21:20] debone commented on #451
Tried

[code]

and got on the bundle file

[code]

Then, I tried

[code]

and got the same results.

**BUT**

I found this line on the build

[code]

so then I tried the name steal-tools generates

[code]

and steal-tools actually detected it and changed the module format!

Tough now it breaks the build with `window is not defined` and on the `global` format breaks in other ways but in the browser

[2016-08-09 21:23] isadovskiy commented on #451
@debone I fixed it by downloading the libraries, fixing its code and making them a part of my repo.

[2016-08-09 21:25] debone commented on #451
There is another dependency from `Masonry` that is breaking the same way `ev-emitter`

Got it working by using steal-tools generated name on `package.json` for both

[code]